@import '../../components/mixins';

@mixin wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  a,
  button,
  input,
  span,
  textarea {
    border-color: $color;
  }

  .Message {
    @include text(12, 24, s);

    flex-basis: 100%;
    color: $color;
  }
}

.Wrapper {
  &__Error {
    @include wrapper-with-message(error);
  }

  &__Helper {
    @include wrapper-with-message(helper);
  }

  &__Hint {
    @include wrapper-with-message(hint);
  }

  &__Warning {
    @include wrapper-with-message(warning);
  }

  &__Hidden {
    @include visually-hidden;
  }
}

:global(.Control__Disabled) {
  @include disabled;
}

:global(.Control__Focus) {
  @include focusable;
}
