@import '../../components/mixins';

@mixin Component {
  &__HideAboveDesktop {
    @include respond-above(desktop) {
      display: none;
    }
  }

  &__HideAboveLaptop {
    @include respond-above(laptop) {
      display: none;
    }
  }

  &__HideAboveTablet {
    @include respond-above(tablet) {
      display: none;
    }
  }

  &__HideAbovePhoneL {
    @include respond-above(phoneL) {
      display: none;
    }
  }

  &__HideAbovePhoneM {
    @include respond-above(phoneM) {
      display: none;
    }
  }

  &__HideAbovePhoneS {
    @include respond-above(phoneS) {
      display: none;
    }
  }

  &__HideBelowDesktopBig {
    @include respond-below(desktopBig) {
      display: none;
    }
  }

  &__HideBelowDesktop {
    @include respond-below(desktop) {
      display: none;
    }
  }

  &__HideBelowLaptop {
    @include respond-below(laptop) {
      display: none;
    }
  }

  &__HideBelowTablet {
    @include respond-below(tablet) {
      display: none;
    }
  }

  &__HideBelowPhoneL {
    @include respond-below(phoneL) {
      display: none;
    }
  }

  &__HideBelowPhoneM {
    @include respond-below(phoneM) {
      display: none;
    }
  }
}

.Component {
  @include Component;
}
