@import '../components/mixins';

@mixin LayerRoot {
  @include frame(fixed);
  @include z(OpenLayer);

  width: 100%;
  height: 100%;

  &:empty {
    display: none;
  }
}

.LayerRoot {
  @include LayerRoot;
}
