@import './functions';
@import './style-config.js';

$border-radius: vr(cfg('border.radius'));
$border-style: solid;
$border-width: vr(cfg('border.width'));
$color-border: cfg('border.color');
$color-border-light: cfg('border.colorLight');
$border: $border-width $border-style $color-border;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: cfg('colors.main.primary.normal');
$color-primary-focus: cfg('colors.main.primary.focus');
$color-primary-hover: cfg('colors.main.primary.hover');
$color-secondary: cfg('colors.main.secondary.normal');
$color-secondary-focus: cfg('colors.main.secondary.focus');
$color-secondary-hover: cfg('colors.main.secondary.hover');
$color-background: cfg('colors.background.common.normal');
$color-background-accent: cfg('colors.background.accent.normal');
$color-background-dimmer: cfg('colors.background.dimmer.normal');
$color-font: cfg('text.colors.normal');
$color-font-inverted: cfg('text.colors.inverted');
$color-font-semi: cfg('text.colors.semi');

@function cfg($path) {
  $keys: str-split($path, '.');
  $result: $styleConfig;

  @each $key in $keys {
    @if map-has-key($result, $key) {
      /* stylelint-disable-next-line scss/no-duplicate-dollar-variables */
      $result: map-get($result, $key);
    } @else {
      @debug '===== config has no key: ' + $key + ' in path: ' + $path;
    }
  }

  @return $result;
}
