$column-size: 80;
$row-size: 8;

@function vr($size) {
  @if type-of($size) == 'number' and unitless($size) {
    @return #{$size + 'px'};
  }

  @return $size;
}

@function columns($n) {
  @return vr($n * $column-size);
}

@function rows($n) {
  @return vr($n * $row-size);
}

@function str-split($string, $separator: '.') {
  $result: ();
  $index: str-index($string, $separator);

  @while $index != null {
    $item: str-slice($string, 1, $index - 1);
    /* stylelint-disable-next-line scss/no-duplicate-dollar-variables */
    $result: append($result, $item);
    $string: str-slice($string, $index + 1);
    /* stylelint-disable-next-line scss/no-duplicate-dollar-variables */
    $index: str-index($string, $separator);
  }

  /* stylelint-disable-next-line scss/no-duplicate-dollar-variables, scss/dollar-variable-first-in-block, order/order */
  $result: append($result, $string);

  @return $result;
}
