@import './config';
@import './functions';
@import './rwd';

$stack: Minus, Zero, Common, Significant, Menu, ImportantMenu, Controls, Fab, Loader, Tooltip, Toast, Overlay, Dimmer, Dialog, OpenLayer, Hamburger;

@mixin accent-background-primary {
  background-color: $color-primary;
  color: $color-font-inverted;
}

@mixin accent-background-primary-focus {
  background-color: $color-primary-focus;
  color: $color-font-inverted;
}

@mixin accent-background-primary-hover {
  background-color: $color-primary-hover;
  color: $color-font-inverted;
}

@mixin background($image) {
  background-image: cfg($image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@mixin border {
  border: $border;
  border-radius: $border-radius;
}

@mixin center($position) {
  position: absolute;

  @if ($position == 'vertical') {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($position == 'horizontal') {
    left: 50%;
    transform: translateX(-50%);
  } @else if ($position == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin rwd-content-width($padding: false) {
  margin: 0 auto;
  max-width: vr(cfg('breakpoints.desktop.contentWidth'));

  @if ($padding) {
    padding-right: vr(cfg('breakpoints.desktop.sidePadding'));
    padding-left: vr(cfg('breakpoints.desktop.sidePadding'));
  }

  @include respond-above(desktop) {
    max-width: vr(cfg('breakpoints.desktopBig.contentWidth'));

    @if ($padding) {
      padding-right: vr(cfg('breakpoints.desktopBig.sidePadding'));
      padding-left: vr(cfg('breakpoints.desktopBig.sidePadding'));
    }
  }

  @include respond-below(desktop) {
    max-width: vr(cfg('breakpoints.laptop.contentWidth'));

    @if ($padding) {
      padding-right: vr(cfg('breakpoints.laptop.sidePadding'));
      padding-left: vr(cfg('breakpoints.laptop.sidePadding'));
    }
  }

  @include respond-below(laptop) {
    max-width: vr(cfg('breakpoints.tablet.contentWidth'));

    @if ($padding) {
      padding-right: vr(cfg('breakpoints.tablet.sidePadding'));
      padding-left: vr(cfg('breakpoints.tablet.sidePadding'));
    }
  }

  @include respond-below(tablet) {
    max-width: vr(cfg('breakpoints.phoneL.contentWidth'));

    @if ($padding) {
      padding-right: vr(cfg('breakpoints.phoneL.sidePadding'));
      padding-left: vr(cfg('breakpoints.phoneL.sidePadding'));
    }
  }

  @include respond-below(phoneL) {
    max-width: vr(cfg('breakpoints.phoneM.contentWidth'));

    @if ($padding) {
      padding-right: vr(cfg('breakpoints.phoneM.sidePadding'));
      padding-left: vr(cfg('breakpoints.phoneM.sidePadding'));
    }
  }

  @include respond-below(phoneM) {
    max-width: vr(cfg('breakpoints.phoneS.contentWidth'));

    @if ($padding) {
      padding-right: vr(cfg('breakpoints.phoneS.sidePadding'));
      padding-left: vr(cfg('breakpoints.phoneS.sidePadding'));
    }
  }
}

@mixin clickable {
  cursor: pointer;
}

@mixin dialog-width {
  width: vr(cfg('breakpoints.desktop.dialogWidth.normal'));

  &__Micro {
    width: vr(cfg('breakpoints.desktop.dialogWidth.mini'));
  }

  &__Nano {
    width: vr(cfg('breakpoints.desktop.dialogWidth.nano'));
  }
}

@mixin dimmer {
  @include frame(fixed);
  @include z(Dimmer);

  width: 100%;
  height: 100%;
  background-color: $color-background-dimmer;
}

@mixin disabled($has-background: true) {
  border-color: cfg('colors.controls.disabled.border');
  color: cfg('colors.controls.disabled.font');
  cursor: inherit;

  @if ($has-background) {
    background-color: cfg('colors.controls.disabled.background');

    &:hover {
      background-color: cfg('colors.controls.disabled.background');
    }
  }
}

@mixin focused($has-background: true) {
  @include shadow(focus, cfg('colors.controls.focus.border'));

  border-color: cfg('colors.controls.focus.border');
  color: cfg('colors.controls.focus.font');
  outline: none;

  @if ($has-background) {
    background-color: cfg('colors.controls.focus.background');
  }
}

@mixin focusable($has-background: true) {
  &:focus {
    @include focused($has-background);
  }
}

@mixin frame($kind, $size: 0) {
  position: $kind;
  top: $size;
  right: $size;
  bottom: $size;
  left: $size;
}

@mixin height($size: 48) {
  height: vr($size);
  line-height: vr($size);
}

@mixin height-important($size: 48) {
  height: vr($size) !important; /* stylelint-disable-line declaration-no-important */
  line-height: vr($size) !important; /* stylelint-disable-line declaration-no-important */
}

@mixin min-height($size: 48) {
  min-height: vr($size);
  line-height: vr($size);
}

@mixin min-height-important($size: 48) {
  min-height: vr($size) !important; /* stylelint-disable-line declaration-no-important */
  line-height: vr($size) !important; /* stylelint-disable-line declaration-no-important */
}

@mixin hovered($has-background: true) {
  border-color: cfg('colors.controls.hover.border');
  color: cfg('colors.controls.hover.font');
  outline: none;

  @if ($has-background) {
    background-color: cfg('colors.controls.hover.background');
  }
}

@mixin hoverable($has-background: true) {
  &:hover {
    @include hovered($has-background);
  }
}

@mixin icon($size) {
  @include size($size);

  text-align: center;

  &:before {
    @include size($size);
  }
}

@mixin icon-clickable($size) {
  @include clickable;
  @include icon($size);
}

@mixin inline-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  min-height: vr(1);
}

@mixin link-font-inherit {
  color: inherit;
  text-decoration: none;

  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

@mixin mod-transparent {
  &__Transparent {
    border-color: transparent;
    background-color: transparent;
  }
}

@mixin mod-inner-selector-helper($inner-selector: '') {
  @if $inner-selector == '' {
    @content;
  } @else {
    #{$inner-selector} {
      @content;
    }
  }
}

@mixin mod-kind-helper($kind, $focusable: true, $hoverable: true, $inner-selector: '') {
  @include mod-inner-selector-helper($inner-selector) {
    border: $border-width $border-style cfg('colors.kinds.' + $kind + '.normal.border');
    background-color: cfg('colors.kinds.' + $kind + '.normal.background');
    color: cfg('colors.kinds.' + $kind + '.normal.font');

    @if $focusable {
      &:active,
      &:focus {
        border: $border-width $border-style cfg('colors.kinds.' + $kind + '.focus.border');
        background-color: cfg('colors.kinds.' + $kind + '.focus.background');
        color: cfg('colors.kinds.' + $kind + '.focus.font');
      }
    }

    @if $hoverable {
      &:hover {
        border: $border-width $border-style cfg('colors.kinds.' + $kind + '.hover.border');
        background-color: cfg('colors.kinds.' + $kind + '.hover.background');
        color: cfg('colors.kinds.' + $kind + '.hover.font');
      }
    }
  }
}

@mixin mod-clickable($inner-selector: '') {
  &__Clickable {
    @include mod-inner-selector-helper($inner-selector) {
      cursor: pointer;
    }
  }
}

@mixin mod-numeric-sizes($number-of-levels, $inner-selector: '') {
  @include mod-inner-selector-helper($inner-selector) {
    @for $i from 1 through $number-of-levels {
      $width: percentage($i / $number-of-levels);

      &__Size_#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $width;
        width: $width;
      }
    }

    &__Size_0 {
      flex-grow: 1;
    }
  }
}

@mixin mod-numeric-columns($max-number-of-columns, $inner-selector: '') {
  @for $i from 1 through $max-number-of-columns {
    $width: percentage(1 / $i);

    &__Columns_#{$i} {
      @include mod-inner-selector-helper($inner-selector) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $width;
        width: $width;

        &:nth-child(#{$i}n+1) {
          padding-left: 0;
        }

        &:nth-child(#{$i}n) {
          padding-right: 0;
        }
      }
    }
  }
}

@mixin mod-positions-corners($inner-selector: '') {
  &__BottomLeft {
    @include mod-inner-selector-helper($inner-selector) {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-50%) translateY(50%);
    }
  }

  &__BottomRight {
    @include mod-inner-selector-helper($inner-selector) {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateX(50%) translateY(50%);
    }
  }

  &__TopLeft {
    @include mod-inner-selector-helper($inner-selector) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__TopRight {
    @include mod-inner-selector-helper($inner-selector) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%) translateY(-50%);
    }
  }

  &__Inline {
    position: relative;
  }
}

@mixin mod-result-helper($color, $inner-selector: '') {
  @include mod-inner-selector-helper($inner-selector) {
    color: $color;

    &:active
    &:hover,
    &:focus {
      color: $color;
    }
  }
}

@mixin mod-results($inner-selector: '') {
  &__Bug {
    @include mod-result-helper(cfg('colors.kinds.error.normal.background'), $inner-selector);
  }

  &__Conditional {
    @include mod-result-helper(cfg('colors.kinds.warning.normal.background'), $inner-selector);
  }

  &__Empty {
    @include mod-result-helper(#c9c9c9, $inner-selector);
  }

  &__Error404 {
    @include mod-result-helper(cfg('border.color'), $inner-selector);
  }

  &__Error500 {
    @include mod-result-helper(cfg('colors.kinds.error.normal.background'), $inner-selector);
  }

  &__Failure {
    @include mod-result-helper(cfg('colors.kinds.error.normal.background'), $inner-selector);
  }

  &__MailConfirmation {
    @include mod-result-helper(cfg('colors.kinds.info.normal.background'), $inner-selector);
  }

  &__Modified {
    @include mod-result-helper(cfg('colors.kinds.success.normal.background'), $inner-selector);
  }

  &__NotAllowed {
    @include mod-result-helper(cfg('border.color'), $inner-selector);
  }

  &__Pending {
    @include mod-result-helper(cfg('colors.controls.disabledAccent.background'), $inner-selector);
  }

  &__PhoneConfirmation {
    @include mod-result-helper(cfg('colors.kinds.info.normal.background'), $inner-selector);
  }

  &__PowerOff {
    @include mod-result-helper(cfg('colors.kinds.error.normal.background'), $inner-selector);
  }

  &__Printed {
    @include mod-result-helper(cfg('colors.kinds.success.normal.background'), $inner-selector);
  }

  &__Success {
    @include mod-result-helper(cfg('colors.kinds.success.normal.background'), $inner-selector);
  }

  &__Removed {
    @include mod-result-helper(cfg('colors.kinds.success.normal.background'), $inner-selector);
  }

  &__Undetermined {
    @include mod-result-helper(cfg('colors.controls.disabledAccent.background'), $inner-selector);
  }
}

@mixin mod-shapes($inner-selector: '') {
  &__Circle {
    @include mod-inner-selector-helper($inner-selector) {
      border-radius: 50%;
    }
  }

  &__Rounded {
    @include mod-inner-selector-helper($inner-selector) {
      border-radius: vr(24);
    }
  }

  &__Square {
    @include mod-inner-selector-helper($inner-selector) {
      border-radius: $border-radius;
    }
  }
}

@mixin mod-sizes($inner-selector: '') {
  &__Inherit {
    @include mod-inner-selector-helper($inner-selector) {
      font-size: inherit;
    }
  }

  &__XS {
    @include mod-inner-selector-helper($inner-selector) {
      @include icon(16);
      @include text(8, 16);
    }
  }

  &__S {
    @include mod-inner-selector-helper($inner-selector) {
      @include icon(24);
      @include text(10, 24);
    }
  }

  &__M {
    @include mod-inner-selector-helper($inner-selector) {
      @include icon(32);
      @include text(14, 32);
    }
  }

  &__L {
    @include mod-inner-selector-helper($inner-selector) {
      @include icon(40);
      @include text(16, 40);
    }
  }

  &__XL {
    @include mod-inner-selector-helper($inner-selector) {
      @include icon(48);
      @include text(20, 48);
    }
  }
}

@mixin shadow($kind, $color: $color-black) {
  @if $kind == 'inset' {
    box-shadow: inset 0 0 vr(4) vr(1) $color;
  } @else if $kind == 'focus' {
    box-shadow: 0 0 vr(1) $color;
  } @else if $kind == 'elevation' {
    box-shadow: 0 0 vr(8) vr(8) $color;
  } @else if $kind == 'small' {
    box-shadow: 0 0 vr(4) vr(1) $color;
  } @else if $kind == 'block' {
    box-shadow: 0 0 vr(8) $color;
  } @else if $kind == 'tooltip' {
    box-shadow: 0 0 vr(10) $color;
  } @else if $kind == 'card_overhead' {
    box-shadow: 0 vr(-2) vr(6) $color;
  }
}

@mixin mod-text-align($inner-selector: '') {
  &__Center {
    @include mod-inner-selector-helper($inner-selector) {
      justify-content: center;
      text-align: center;
    }
  }

  &__Left {
    @include mod-inner-selector-helper($inner-selector) {
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__Right {
    @include mod-inner-selector-helper($inner-selector) {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

@mixin scrollbar($kind) {
  $config-key: 'scrollbar.' + $kind;
  $size: cfg($config-key + '.size');

  scrollbar-color: cfg($config-key + '.thumb.normal') cfg($config-key + '.track.normal');
  scrollbar-width: cfg($config-key + '.sizeFF');

  ::-webkit-scrollbar {
    width: vr($size);
    height: vr($size);
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-corner {
    background-color: cfg($config-key + '.track.normal');
  }

  ::-webkit-scrollbar-thumb {
    border-radius: vr($size / 2);
    background-color: cfg($config-key + '.thumb.normal');

    &:hover {
      background-color: cfg($config-key + '.thumb.hover');
    }

    &:active {
      background-color: cfg($config-key + '.thumb.active');
    }
  }

  ::-webkit-scrollbar-track {
    background-color: cfg($config-key + '.track.normal');

    &:hover {
      background-color: cfg($config-key + '.track.hover');
    }

    &:active {
      background-color: cfg($config-key + '.track.active');
    }
  }
}

@mixin size($size) {
  @include height($size);

  width: vr($size);
}

@mixin text-inherit {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
}

@mixin text($font-size, $line-height, $weight: xs, $color: inherit, $oneline: false, $font: sans, $align: left) {
  @include min-height($line-height);
  @include link-font-inherit;
  @include text-weight($weight);

  font-family: cfg('text.fonts.' + $font + '.family');
  font-size: vr($font-size);
  color: $color;
  text-align: $align;

  @if ($oneline) {
    @include text-overflow;
  }
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-style($kind) {
  $config: cfg('text.styles.' + $kind);
  $emphasized-links: map-get($config, emphasizedLinks);
  $font-italic: map-get($config, fontItalic);
  $margin: map-get($config, margin);
  $padding: map-get($config, padding);

  @include link-font-inherit;
  @include text(map-get($config, fontSize), map-get($config, lineHeight), map-get($config, fontWeight), map-get($config, fontColor), map-get($config, oneline), map-get($config, font), map-get($config, align));

  margin: vr(nth($margin, 1)) vr(nth($margin, 2)) vr(nth($margin, 3)) vr(nth($margin, 4));
  padding: vr(nth($padding, 1)) vr(nth($padding, 2)) vr(nth($padding, 3)) vr(nth($padding, 4));

  @if ($emphasized-links) {
    p {
      a {
        /* stylelint-disable-next-line font-weight-notation */
        font-weight: bolder;
      }
    }
  }

  @if ($font-italic) {
    font-style: italic;
  }

  p {
    a {
      @include link-font-inherit;
    }
  }
}

@mixin text-weight($level: xs) {
  /* stylelint-disable-next-line font-weight-notation */
  font-weight: cfg('text.weights.' + $level);
}

@mixin transition($kind) {
  $config: cfg('animations.' + $kind);

  transition: map-get($config, property) map-get($config, time) * 1ms map-get($config, function) map-get($config, delay) * 1ms;
}

@mixin visually-hidden {
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}

@mixin z($level) {
  z-index: index($stack, $level) - 2;
}
