@import './config';
@import './functions';

@mixin respond-above($breakpoint) {
  $config: map-get(cfg('breakpoints'), $breakpoint);
  $to: #{map-get($config, 'to') + 1}px;

  @media (min-width: $to) {
    @content;
  }
}

@mixin respond-below($breakpoint) {
  $config: map-get(cfg('breakpoints'), $breakpoint);
  $from: #{map-get($config, 'from') - 1}px;

  @media (max-width: $from) {
    @content;
  }
}

@mixin respond-to($breakpoint) {
  $config: map-get(cfg('breakpoints'), $breakpoint);
  $from: #{map-get($config, 'from') - 1}px;
  $to: #{map-get($config, 'to') + 1}px;

  @media (min-width: $from) and (max-width: $to) {
    @content;
  }
}

@mixin mod-rwd-visibility {
  &__HideAboveDesktop {
    @include respond-above(desktop) {
      display: none;
    }
  }

  &__HideAboveLaptop {
    @include respond-above(laptop) {
      display: none;
    }
  }

  &__HideAboveTablet {
    @include respond-above(tablet) {
      display: none;
    }
  }

  &__HideAbovePhoneL {
    @include respond-above(phoneL) {
      display: none;
    }
  }

  &__HideAbovePhoneM {
    @include respond-above(phoneM) {
      display: none;
    }
  }

  &__HideAbovePhoneS {
    @include respond-above(phoneS) {
      display: none;
    }
  }

  &__HideBelowDesktopBig {
    @include respond-below(desktopBig) {
      display: none;
    }
  }

  &__HideBelowDesktop {
    @include respond-below(desktop) {
      display: none;
    }
  }

  &__HideBelowLaptop {
    @include respond-below(laptop) {
      display: none;
    }
  }

  &__HideBelowTablet {
    @include respond-below(tablet) {
      display: none;
    }
  }

  &__HideBelowPhoneL {
    @include respond-below(phoneL) {
      display: none;
    }
  }

  &__HideBelowPhoneM {
    @include respond-below(phoneM) {
      display: none;
    }
  }
}
