@import './mixins';

@mixin base-side($side) {
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: vr(8) 0;

  .Image {
    position: relative;
    flex-shrink: 0;
    margin-top: 0;
    min-width: vr(320);
    max-width: vr(320);
    min-height: vr(280);

    & + .Content {
      padding-top: 0;
      padding-bottom: 0;
      padding-#{$side}: vr(16);
    }

    img {
      position: absolute;
    }
  }

  .Content {
    .Title {
      position: relative;
      box-sizing: border-box;
      padding-top: vr(4);
      text-align: $side;
    }

    .Subtitle {
      padding-top: vr(4);
      text-align: $side;
    }

    .Text {
      text-align: justify;
    }
  }

  @include respond-below(laptop) {
    flex-direction: column;

    .Image {
      min-width: 100%;
    }

    .Content {
      justify-content: center;

      .Title {
        text-align: center;
      }

      .Subtitle {
        text-align: center;
      }
    }
  }
}

@mixin Abstract {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: vr(8);

  & + .Abstract {
    margin-top: vr(8);
    border-top: $border;
  }

  .Title {
    @include text(20, 32, m, $align: center);

    width: 100%;
    padding-top: vr(4);

    & + .Content {
      margin-top: 0;
      width: 100%;

      .Subtitle,
      .Author,
      .Date {
        position: relative;
        padding: vr(4) vr(4) 0;
      }

      .Text {
        width: 100%;
        padding-right: vr(4);
        padding-left: vr(4);
      }
    }
  }

  .Image {
    @include border;

    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-top: vr(8);
    min-width: 100%;
    min-height: vr(144);

    &:before {
      @include z(Common);
      @include frame(absolute);

      content: '';
      border: vr(16) solid $color-black;
      opacity: 0.1;
    }

    & + .Content {
      padding-top: vr(8);
    }

    img {
      @include center(both);

      position: relative;
      width: vr(240);
    }
  }

  .Content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: vr(8);

    .Subtitle {
      @include text(16, 24, xs, $align: center);

      width: 100%;
      padding-top: vr(4);
    }

    .Author {
      @include text(12, 24, xs);

      padding-top: vr(4);
      padding-right: vr(8);

      & + .Text {
        padding: 0;
      }
    }

    .Date {
      @include text(12, 24, xs);

      padding-top: vr(4);

      & + .Text {
        padding: 0;
      }
    }

    .Text {
      @include text(14, 24, xs);

      flex-grow: 1;
      box-sizing: border-box;
      padding-top: vr(4);
    }
  }
}

@mixin Left {
  @include base-side(left);
}

@mixin Right {
  @include base-side(right);

  flex-direction: row-reverse;

  .Content {
    justify-content: flex-end;

    .Author {
      padding-right: 0;
    }

    .Date {
      padding-left: vr(8);
    }
  }

  @include respond-below(laptop) {
    .Content {
      justify-content: center;
    }
  }
}

@mixin Featured {
  @include base-side(left);

  .Image {
    min-width: 50%;
    max-width: 50%;
  }

  .Content {
    justify-content: center;

    .Title,
    .Subtitle {
      text-align: center;
    }
  }
}

.Abstract {
  @include Abstract;
}

.Left {
  @include Left;
}

.Right {
  @include Right;
}

.Featured {
  @include Featured;
}
