@import './mixins';

@mixin Action {
  @include text-weight(l);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0 vr(8);

  .Icon {
    flex-shrink: 0;
    height: vr(80);
    max-height: 100%;
    font-size: vr(80);
    line-height: vr(80);
    text-align: center;
  }

  .Text {
    line-height: vr(32);
    text-align: center;

    &:empty {
      display: none;
    }
  }
}

.Action {
  @include Action;

  &__Border {
    @include border;
  }

  &__Wrapped {
    flex-direction: row;

    .Icon {
      & + .Text {
        padding-left: vr(8);
      }
    }
  }
}
