@import './mixins';

$min-height: 240;

@mixin Advert {
  position: relative;
  width: 100%;

  .Label {
    @include text(12, 24, xs, $align: center);

    margin: 0;
    padding: 0;
  }

  .Content {
    min-height: vr($min-height);
  }
}

.Advert {
  @include Advert;

  &__Border {
    @include border;

    .Content {
      min-height: vr($min-height - 2); // $border-width
    }
  }
}
