@import './mixins';

@mixin element-before {
  display: inline-block;
  margin-right: vr(8);
  min-width: vr(16);
}

@mixin Item {
  .Title {
    @include text(14, 24, s);

    cursor: pointer;
  }

  .SubItems {
    padding-left: vr(16);
  }
}

@mixin Agenda {
  counter-reset: toc1 toc2 toc3 toc4 toc5;
  position: relative;
  margin: vr(24);
  border-top: $border;
  border-bottom: $border;
  width: 100%;
  padding: vr(16);
  background-color: $color-background;

  & > .Item {
    counter-increment: toc1;
    counter-reset: toc2 toc3 toc4 toc5;

    &:not(:first-child) {
      padding-top: vr(8);
    }

    & > .SubItems {
      & > .Item {
        counter-increment: toc2;
        counter-reset: toc3 toc4 toc5;

        & > .SubItems {
          & > .Item {
            counter-increment: toc3;
            counter-reset: toc4 toc5;

            & > .SubItems {
              & > .Item {
                counter-increment: toc4;
                counter-reset: toc5;

                & > .SubItems {
                  & > .Item {
                    counter-increment: toc5;

                    .Title {
                      &:before {
                        @include element-before;

                        content: counter(toc1) '.' counter(toc2) '.' counter(toc3) '.' counter(toc4) '.' counter(toc5) '.';
                      }
                    }
                  }
                }

                .Title {
                  &:before {
                    @include element-before;

                    content: counter(toc1) '.' counter(toc2) '.' counter(toc3) '.' counter(toc4) '.';
                  }
                }
              }
            }

            .Title {
              &:before {
                @include element-before;

                content: counter(toc1) '.' counter(toc2) '.' counter(toc3) '.';
              }
            }
          }
        }

        .Title {
          &:before {
            @include element-before;

            content: counter(toc1) '.' counter(toc2) '.';
          }
        }
      }
    }

    .Title {
      &:before {
        @include element-before;

        content: counter(toc1) '.';
      }
    }
  }
}

.Item {
  @include Item;
}

.Agenda {
  @include Agenda;
}
