@import './mixins';

@mixin Article {
  position: relative;

  br {
    content: '';
    display: block;
    padding-top: vr(8);
  }

  p {
    & + p {
      padding-top: vr(8);
    }

    a {
      @include text-weight(m);
    }
  }
}

.Article {
  @include Article;
}
