@import './mixins';

@mixin wrapper-with-message($color) {
  .Inner {
    border-color: $color;
  }
}

@mixin NoSearchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: vr(8) 0;
  color: #999;

  .Icon {
    margin: 0;
    padding-top: vr(8);
  }

  .Text {
    @include text(16, 24, s);

    flex-basis: 100%;
    padding: vr(8) 0;
    text-align: center;
  }
}

@mixin Autocomplete {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  :global(.LayerCover) {
    display: flex;
    flex-grow: 1;
    width: 100%;

    .Input {

    }

    .Set {

    }
  }

  .Inner {
    @include border;
    @include focusable;

    position: relative;
    flex: 0 0 100%;
    box-sizing: border-box;
    cursor: pointer;

    .Empty {
      @include hoverable(true);

      cursor: pointer;
    }

    .Group {
      @include hoverable(true);

      cursor: pointer;
    }

    .Selected {
      border: 0;
      cursor: pointer;

      & + .Selected {
        border-top: $border;
      }
    }
  }

  .Required {
    top: 0;
    right: vr(-6);
  }
}

.NoSearchResults {
  @include NoSearchResults;
}

.Autocomplete {
  @include Autocomplete;

  &__Open {
    @include z(OpenLayer);
  }

  &__Disabled {
    .Inner {
      cursor: default;

      .Empty {
        cursor: default;
      }

      .Group {
        cursor: default;
      }

      .Selected {
        cursor: default;

        .Option {
          cursor: inherit;
        }
      }
    }
  }

  &__Error {
    @include wrapper-with-message(cfg('colors.messages.error'));
  }

  &__Focus {
    .Inner {
      @include focused(true);
    }
  }

  &__Hint {
    @include wrapper-with-message(cfg('colors.messages.hint'));
  }

  &__Warning {
    @include wrapper-with-message(cfg('colors.messages.warning'));
  }
}
