@import './mixins';

$self-spacing: vr(8);

@mixin Avatar {
  @include text-weight(l);

  box-sizing: border-box;
  border: $border;
  color: $color-font-inverted;
  line-height: inherit;
  text-align: center;
  overflow: hidden;

  & + .Avatar {
    margin-left: $self-spacing;
  }
}

.Avatar {
  @include Avatar;
  @include mod-shapes;
}
