@import './mixins';

@mixin Ball {
  position: relative;
  display: inline-block;

  .Content {
    position: relative;

    .Svg {
      width: 100%;
      height: 100%;
    }
  }
}

.Ball {
  @include Ball;
}
