@import './mixins';

@mixin Banner {
  position: relative;
  width: 100%;

  .Icon {
    @include frame(absolute);

    margin: 0 auto;
  }

  .Image {
    @include frame(absolute);
  }

  .Content {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    padding: vr(8);
  }
}

.Banner {
  @include Banner;

  &__Border {
    border-bottom: $border;
  }
}
