@import './mixins';

@mixin Bar {
  position: relative;
  width: 100%;
  padding: vr(4) 0;

  .Inner {
    @include text(14, 24, s);

    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: vr(8) 0;

    .Content {
      &:first-child {
        padding-left: vr(8);
      }

      &:last-child {
        padding-right: vr(8);
      }

      & + .Content {
        padding-left: vr(8);
      }
    }

    .Icon {
      padding-right: vr(8);
      padding-left: vr(8);
    }

    .Button {
      margin-top: vr(-8);
      margin-bottom: vr(-8);

      & + .Action {
        margin-left: 0;
      }
    }

    .Action {
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 vr(8);

      &.Button {
        margin-top: vr(-4);
        margin-bottom: vr(-4);
        padding-right: vr(4);
      }
    }
  }
}

.Bar {
  @include Bar;

  &__Center {
    .Inner {
      justify-content: center;

      .Content {
        text-align: center;
      }

      .Action {
        &.Button {
          margin-right: 0;
        }
      }

      .Icon {
        flex-shrink: 0;

        & + .Action,
        & + .Icon {
          margin-left: 0;
        }

        & + .Content {
          padding-left: vr(4);
        }
      }

      .Button {
        margin-right: vr(8);
        margin-left: vr(8);

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }

      .Link {
        margin-right: vr(16);
        margin-left: vr(16);

        & + .Button,
        & + .Link {
          margin-left: 0;
        }
      }
    }
  }

  &__Justify,
  &__Left {
    .Inner {
      .Icon {
        & + .Icon {
          margin-left: 0;
        }

        & + .Content {
          padding-left: vr(4);
        }
      }

      .Button {
        margin-right: vr(8);
        margin-left: auto;

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }

        & + .Action {
          margin-left: 0;
        }
      }

      .Link {
        margin-right: vr(16);
        margin-left: auto;

        & + .Action,
        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }

      .Action {
        margin-left: auto;
      }
    }
  }

  &__Right {
    .Inner {
      justify-content: flex-end;

      .Content {
        text-align: right;

        & + .Button {
          &:not(.Action) {
            margin-left: vr(8);
          }
        }

        & + .Link {
          &:not(.Action) {
            margin-left: vr(16);
          }
        }
      }

      .Action {
        margin-left: 0;

        &.Button {
          margin-right: 0;
        }
      }

      .Icon {
        & + .Icon {
          margin-left: 0;
        }

        & + .Content {
          padding-left: vr(4);
        }
      }

      .Button {
        margin-right: vr(8);

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }

      .Link {
        margin-right: vr(16);

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }
    }
  }

  &__Border {
    .Inner {
      @include border;

      padding: vr(7) 0;
    }
  }
}
