@import './mixins';

@mixin Beam {
  position: relative;
  width: 100%;
  padding: 0;

  .Inner {
    @include text(15, 32, s);

    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 0 auto;
    padding: vr(8) 0;

    .Content {
      align-self: baseline;

      &:first-child {
        padding-left: vr(16);
      }

      &:last-child {
        padding-right: vr(16);
      }

      & + .Content {
        padding-left: vr(8);
      }
    }

    .Icon {
      flex-shrink: 0;
      padding-right: vr(8);
      padding-left: vr(8);
    }

    .Button {
      order: 2;
      padding: 0;
    }

    .Link {
      order: 1;
      color: $color-font-inverted;

      &:hover {
        color: #dddddd;
      }
    }
  }
}

.Beam {
  @include Beam;

  &__Center {
    .Inner {
      justify-content: center;

      .Button {
        margin-right: vr(8);
        margin-left: vr(8);

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }

      .Content {
        text-align: center;
      }

      .Icon {
        & + .Icon {
          margin-left: 0;
        }

        & + .Content {
          padding-left: vr(4);
        }
      }

      .Link {
        margin-right: vr(16);
        margin-left: vr(16);

        & + .Button,
        & + .Link {
          margin-left: 0;
        }
      }
    }
  }

  &__Justify,
  &__Left {
    .Inner {
      .Icon {
        & + .Icon {
          margin-left: 0;
        }

        & + .Content {
          padding-left: vr(4);
        }
      }

      .Button {
        margin-right: vr(8);
        margin-left: auto;

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }

      .Link {
        margin-right: vr(16);
        margin-left: auto;

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }
    }
  }

  &__Right {
    .Inner {
      justify-content: flex-end;

      .Content {
        text-align: right;

        & + .Button {
          margin-left: vr(8);
        }

        & + .Link {
          margin-left: vr(16);
        }
      }

      .Icon {
        & + .Icon {
          margin-left: 0;
        }

        & + .Content {
          padding-left: vr(4);
        }
      }

      .Button {
        margin-right: vr(8);

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }

      .Link {
        margin-right: vr(16);

        & + .Button,
        & + .Link {
          margin-left: vr(8);
        }
      }
    }
  }
}
