@import './mixins';

@mixin content-align {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin Box {
  @include text-inherit;

  position: relative;
  display: inherit;
  flex-shrink: 0;
  flex-direction: inherit;
  flex-wrap: inherit;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  min-height: vr(1);
  padding: 0;
}

.Box {
  @include Box;

  &__Center {
    margin: 0 auto;
  }

  &__Justify {
    margin: 0 auto;
  }

  &__Left {
    margin-right: auto;
  }

  &__Right {
    margin-left: auto;
  }

  &__ContentCenter {
    @include content-align;

    justify-content: center;
  }

  &__ContentJustify {
    @include content-align;

    justify-content: space-between;
  }

  &__ContentLeft {
    @include content-align;

    justify-content: flex-start;
  }

  &__ContentRight {
    @include content-align;

    justify-content: flex-end;
  }
}
