@import './mixins';

@mixin Breadcrumbs {
  .Separator {
    padding: 0 vr(8);
  }
}

@mixin Item {
  @include text(14, 16, xs);

  text-decoration: none;
  cursor: pointer;

  &:last-child {
    @include text(14, 16, l, $color: $color-primary);
  }
}

.Breadcrumbs {
  @include Breadcrumbs;
}

.Item {
  @include Item;
}
