@import './mixins';

$button-min-width: vr(60);
$self-spacing: vr(16);
$badge-inline-spacing: vr(8);
$icon-inline-spacing: vr(8);

@mixin Button {
  position: relative;
  display: inline-flex;
  padding-top: vr(4);
  padding-bottom: vr(4);

  & + & {
    padding-left: $self-spacing;
  }

  .Control {
    @include border;
    @include text-style(button);

    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: $button-min-width;
    overflow: visible;
    cursor: pointer;

    &:disabled {
      @include disabled;
    }

    .Content {
      width: 100%;
    }

    .Badge {
      position: absolute;

      &__Inline {
        position: relative;
        flex-shrink: 0;

        &:first-child {
          margin-right: $badge-inline-spacing;
        }

        &:last-child {
          margin-left: $badge-inline-spacing;
        }
      }
    }

    .Icon {
      flex-shrink: 0;

      &:first-child {
        margin-right: $icon-inline-spacing;
      }

      &:last-child {
        margin-left: $icon-inline-spacing;
      }

      &:only-child {
        margin: 0 auto;
      }
    }
  }
}

@mixin Social {
  &__Left {
    .SocialIcon {
      position: relative;
    }
  }

  &__None {
    .SocialIcon {
      display: none;
    }
  }

  &__Right {
    .SocialIcon {
      position: relative;
    }
  }
}

@mixin Group {
  display: flex;

  & + .Group {
    &:not(.Group__Right) {
      &:not(.Group__Justify) {
        margin-left: $self-spacing;
      }
    }
  }

  .Button {
    &:first-child {
      .Control {
        border-left: $border;
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    &:last-child {
      .Control {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    & + .Button {
      padding-left: 0;
    }

    .Control {
      margin-right: 0;
      margin-left: 0;
      border-left: 0;
      border-radius: 0;
    }
  }
}

@mixin Box {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.Button {
  @include Button;

  &__Center {
    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  &__Disabled {
    cursor: inherit;
  }

  &__Justify {
    flex-grow: 1;
    width: 100%;

    & + .Button__Justify {
      padding-left: 0;
    }

    .Control {
      width: 100%;
    }
  }

  &__Right {
    margin-left: auto;
  }

  &__Right ~ &__Right {
    margin-left: 0;
  }

  &__Narrow {
    .Control {
      min-height: vr(32);
      max-height: vr(32);

      .Content {
        @include text(14, 24, l);
      }
    }
  }

  &.Social {
    @include Social;
  }
}

@mixin Selectable {
  width: 100%;

  :global(.Control) {
    @include visually-hidden;
  }

  .Button {
    width: 100%;

    .Control {
      width: 100%;
    }
  }
}

@mixin Item {
  width: 100%;
}

@mixin SelectableGroup {
  width: 100%;
}

.Group {
  @include Group;

  &__Center {
    margin: 0 auto;
  }

  &__Justify {
    width: 100%;

    .Button {
      flex-grow: 1;

      .Control {
        width: 100%;
      }
    }
  }

  &__Right {
    margin-left: auto;
  }

  &__Vertical {
    flex-direction: column;

    .Button {
      padding: 0;

      &:first-child {
        .Control {
          border-top: $border;
          border-radius: $border-radius $border-radius 0 0;
        }
      }

      &:last-child {
        .Control {
          border-radius: 0 0 $border-radius $border-radius;
        }
      }

      .Control {
        border-top: 0;
        border-left: $border;
      }
    }

    &.Group__Center {
      align-items: center;
    }

    &.Group__Right {
      align-items: flex-end;
    }

    &.Group__Justify {
      .Button {
        flex-grow: 1;

        .Control {
          width: 100%;
        }
      }
    }
  }
}

.Box {
  @include Box;
}

.Selectable {
  @include Selectable;

  &__Focus {
    background-color: #eeeeee;
  }
}

.Item {
  @include Item;
}

.SelectableGroup {
  @include SelectableGroup;

  &__Border {
    @include border;
  }
}
