@import './mixins';

$button-normal-size: 32;

@mixin wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  padding: vr(7) 0;

  .Content {
    border-color: $color;
  }
}

@mixin picker-wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Input {
    input {
      border-color: $color;
    }
  }
}

@mixin Calendar {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: vr(8) 0;

  .Content {
    display: inline-block;
    border: 0;
    width: vr(7 * $button-normal-size);
    background-color: $color-background;

    .Header {
      display: flex;
      align-items: center;
      background-color: $color-background-accent;

      .Button {
        @include height($button-normal-size);
        @include text(10, $button-normal-size, xs, $align: center);

        display: inline-block;
        flex-basis: percentage(1 / 7);
        cursor: pointer;

        &:focus,
        &:hover {
          background-color: #dddddd;
          color: $color-font;
        }
      }

      .Label {
        @include text(14, $button-normal-size, m, $align: center);

        display: inline-block;
        flex-grow: 1;
        width: vr(5 * $button-normal-size);
      }
    }

    .Weekdays {
      background-color: $color-background-accent;

      .Weekday {
        @include text(14, $button-normal-size, m, $align: center);

        display: inline-block;
        width: percentage(1 / 7);
      }
    }

    .Days {
      .Day {
        @include inline-block;
        @include height($button-normal-size);
        @include text(14, $button-normal-size, s, $align: center);

        width: percentage(1 / 7);
        cursor: pointer;

        input {
          @include visually-hidden;

          &:focus {
            & + .DayNumber {
              background-color: $color-background-accent;
            }
          }
        }

        .DayNumber {
          @include height($button-normal-size);

          display: block;
          box-sizing: border-box;
          margin: 0 auto;
          cursor: pointer;

          &:empty {
            cursor: default;
          }

          &:hover {
            &:not(:empty) {
              border: $border;
              line-height: vr(30);
            }
          }
        }

        &__BetweenSelection {
          .DayNumber {
            &:not(:empty) {
              @include text-weight(m);

              background-color: #d2e6fa;
            }
          }
        }

        &__Selected {
          .DayNumber {
            &:not(:empty) {
              @include accent-background-primary;
              @include text-weight(m);
            }
          }
        }

        &__Today {
          .DayNumber {
            &:not(:empty) {
              border: $border-width dashed $color-border;
              line-height: vr(30);
            }
          }
        }

        &__Disabled {
          background-color: $color-background-accent;
          cursor: inherit;

          .DayNumber {
            cursor: inherit;

            &:hover {
              border: 0;
              line-height: vr($button-normal-size);
            }
          }
        }
      }
    }
  }

  :global(.Required) {
    top: vr(2);
    right: vr(-10);
  }

  :global(.Message) {
    flex: 0 0 100%;
  }
}

@mixin Range {
  display: flex;
  flex-wrap: wrap;
  padding: vr(8) 0;

  .Calendar {
    padding: 0;

    &:first-child {
      flex-grow: 0;

      .Content {
        border-right: 0;
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &__Border {
      padding: 0;
    }
  }
}

@mixin Picker {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  :global(.Required) {
    top: 0;
    right: vr(-6);
  }

  .Calendar {
    width: 100%;
    padding: 0;

    .Content {
      width: 100%;
    }
  }
}

.Calendar {
  @include Calendar;

  &__Border {
    padding: vr(7) 0;

    .Content {
      @include border;
    }
  }

  &__Disabled {
    .Content {
      background-color: $color-background-accent;

      .Header {
        .Button {
          &:hover {
            background-color: $color-background-accent;
          }
        }
      }

      .Days {
        .Day {
          cursor: inherit;

          .DayNumber {
            cursor: inherit;

            &:hover {
              border: 0;
              line-height: vr($button-normal-size);
            }
          }

          &__BetweenSelection {
            background-color: #e0e0e0;
          }

          &__Selected {
            .DayNumber {
              background-color: cfg('colors.controls.disabledAccent.border');
            }
          }

          &__Today {
            .DayNumber {
              &:hover {
                border: $border-width dashed $color-border;
                line-height: vr($button-normal-size - 2);
              }
            }
          }
        }
      }
    }
  }

  &__Error {
    @include wrapper-with-message(error);
  }

  &__Hint {
    @include wrapper-with-message(hint);
  }

  &__Warning {
    @include wrapper-with-message(warning);
  }

  @include respond-below(laptop) {
    width: 100%;
    padding: 0;

    .Content {
      width: 100%;

      .Header {
        width: 100%;
      }

      .Weekdays {
        width: 100%;
      }
    }
  }
}

.Range {
  @include Range;

  &__Border {
    padding: vr(7) 0;
  }

  &__Error {
    .Calendar {
      @include wrapper-with-message(error);

      padding: 0;
    }
  }

  &__Hint {
    .Calendar {
      @include wrapper-with-message(hint);

      padding: 0;
    }
  }

  &__Warning {
    .Calendar {
      @include wrapper-with-message(warning);

      padding: 0;
    }
  }
}

.Picker {
  @include Picker;

  &__Open {
    @include z(OpenLayer);
  }

  &__Error {
    @include picker-wrapper-with-message(error);
  }

  &__Hint {
    @include picker-wrapper-with-message(hint);
  }

  &__Warning {
    @include picker-wrapper-with-message(warning);
  }
}
