@import './mixins';

$badge-size: vr(80);
$max-set-columns: 6;

@mixin Card {
  @include z(Significant);

  position: relative;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: vr(8) 0;

  & > * {
    position: relative;
  }

  > .Tabs {
    &__Bottom {
      order: 1;
      padding-bottom: 0;

      * {
        top: vr(-1);

        &[data-active] {
          @include z(Common);

          border-top-color: transparent;
          background-color: $color-background;
        }
      }
    }

    &__Top {
      order: 0;
      padding-top: 0;

      * {
        top: vr(1);

        &[data-active] {
          @include z(Common);

          border-bottom-color: transparent;
          background-color: $color-background;
        }
      }
    }
  }

  .Content {
    @include border;
    @include shadow(block, rgba(0, 0, 0, 0.2));

    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
    background-color: $color-background;

    .Badge {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .Menu {
      position: absolute;
      right: 0;
      margin: vr(16);
      width: auto;
    }

    .Tabs {
      padding-right: vr(20);
      padding-left: vr(20);

      &__Bottom {
        order: 1;
      }

      &__Top {
        order: 0;
      }
    }

    .Image {
      @include min-height(320);

      border-bottom: $border;
      width: 100%;
      background-position: center center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-color: $color-background;
    }

    .Inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: vr(16) vr(20);

      .ButtonBox {
        margin-top: auto;
      }

      .Heading {
        padding-right: 0;
        padding-left: 0;

        &:first-child {
          padding-top: 0;
        }
      }

      .Text {
        display: block;
      }

      @include respond-below(phoneL) {
        padding: vr(8) vr(12);
      }
    }

    .Addition {
      @include text(12, 14, xs, $align: center);

      padding: 0 vr(8) vr(16);
      width: 100%;
    }
  }

  .PostScriptum {
    @include shadow(block, rgba(0, 0, 0, 0.2));
    @include z(Common);

    align-self: flex-end;
    margin: 0 vr(8) vr(8);
    border-width: 0 $border-width $border-width;
    border-style: solid;
    border-color: $color-border;
    border-radius: $border-radius;
    width: 100%;
    padding: vr(8) vr(16);
    background-color: $color-background-accent;
  }

  @include respond-below(laptop) {
    .Content {
      .Image {
        @include min-height(240);
      }
    }
  }

  @include respond-below(tablet) {
    .Content {
      .Image {
        @include min-height(180);
      }
    }
  }

  @include respond-below(phoneL) {
    .Content {
      .Menu {
        margin: vr(16);
      }
    }
  }

  @include respond-below(phoneM) {
    .Content {
      .Image {
        @include min-height(120);
      }
    }
  }
}

@mixin Set {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .Card {
    flex-grow: 0;
    align-items: stretch;
    padding-right: vr(8);
    padding-left: vr(8);

    .PostScriptum {
      align-self: stretch;
    }
  }
}

@mixin Loading {
  min-height: vr(240);
}

.Card {
  @include Card;

  &__WithMenu {
    .Content {
      .Inner {
        .Heading {
          &:first-child {
            padding-right: vr(56);
          }
        }
      }
    }
  }

  &__Stretch {
    flex-grow: 1;
  }
}

.Set {
  @include Set;

  @for $i from 1 through 6 {
    $width: percentage(1 / $i);

    &__Columns_#{$i} {
      .Card {
        flex-basis: $width;
        width: $width;

        &:nth-child(#{$i}n + 1) {
          padding-left: 0;
        }

        &:nth-child(#{$i}n) {
          padding-right: 0;
        }
      }
    }
  }
}

.Loading {
  @include Loading;
}
