@import './mixins';

@mixin Item {
  display: block;
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: start;
}

@mixin Carousel {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: overlay;
  scroll-snap-type: x mandatory;

  .PreviousButton,
  .NextButton {
    position: absolute;
    top: 50%;
    border: $border;
    border-radius: 50%;
    width: vr(40);
    height: vr(40);
    background-color: #ffffff;
    line-height: vr(38);
    text-align: center;
    opacity: 0.3;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .PreviousButton {
    left: vr(10);
  }

  .NextButton {
    right: vr(10);
  }
}

.Item {
  @include Item;
}

.Carousel {
  @include Carousel;
}
