@import './mixins';

@mixin Carto {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: vr(240);
  padding: rows(2) vr(8);

  .Content {
    @include border;

    width: 100%;
    height: 100%;
    min-height: vr(240);
  }
}

.Carto {
  @include Carto;
}
