@import './mixins';

@mixin Center {
  display: flex;
  max-width: calc(100% - #{vr(32)});

  .Content {
    position: relative;
    flex-grow: 1;  
  }
}

.Center {
  @include Center;

  &__Horizontal {
    justify-content: space-around;
    margin: 0 auto;
  }

  &__Vertical {
    align-items: center;
    height: 100%;
  }
}
