@import './mixins';

$self-spacing: vr(8);

@mixin CharIcon {
  width: 100%;
  height: 100%;
  font-style: normal;
  line-height: inherit;
  text-align: center;
}

.CharIcon {
  @include CharIcon;
}

.Wrapper {
  @include text-overflow;
  @include text-weight(m);

  display: inline-block;
  text-align: center;
  overflow: hidden;

  & + .Wrapper {
    margin-left: $self-spacing;
  }

  &__Border {
    border: $border;
  }

  &__Inset {
    color: transparent;
    text-shadow: 0 0 vr(4) rgba(255, 255, 255, 0.5);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
}
