@import './mixins';

@mixin wrapper-with-message($color) {
  .Content {
    border-color: $color;
  }
}

@mixin picker-wrapper-with-message($color) {
  .Input {
    input {
      border-color: $color;
    }
  }
}

@mixin Hours {
  @include min-height(240);
  @include text(13, 40, m);

  display: block;
  margin: 0 auto;
  cursor: pointer;

  .HourText,
  .MinuteText {
    &__Active {
      @include text-weight(l);

      fill: #ca1111;
    }
  }
}

@mixin Minutes {
  @include min-height(240);
  @include text(13, 40, m);

  display: block;
  margin: 0 auto;
  cursor: pointer;

  .HourText,
  .MinuteText {
    &__Active {
      @include text-weight(l);

      fill: #ca1111;
    }
  }
}

@mixin Clock {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  :global(.Control) {
    @include visually-hidden;
  }

  .Content {
    box-sizing: border-box;
    cursor: pointer;

    .Time {
      @include text(18, 38, m);

      display: flex;
      justify-content: center;
      width: 100%;

      button {
        @include text(22, 38, m);

        border: 0;
        background-color: unset;
        cursor: pointer;
        outline: none;

        &:focus,
        &:hover {
          color: #999999;
        }
      }
    }
  }

  :global(.Required) {
    top: vr(2);
    right: vr(2);
  }

  :global(.Message) {
    display: block;
    width: 100%;
  }
}

@mixin Picker {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  :global(.Required) {
    top: 0;
    right: vr(-6);
  }

  :global(.LayerCover) {
    width: 100%;

    .Input {
      width: 100%;
    }
  }

  :global(.LayerItems) {
    display: flex;
    justify-content: center;
  }
}

.Hours {
  @include Hours;

  &__Active {
    color: #ca1111;
  }

  &__Disabled {
    cursor: inherit;
  }
}

.Minutes {
  @include Minutes;

  &__Active {
    color: #ca1111;
  }

  &__Disabled {
    cursor: inherit;
  }
}

.Clock {
  @include Clock;

  &__Disabled {
    .Content {
      cursor: inherit;
    }
  }

  &__Error {
    @include wrapper-with-message(cfg('colors.messages.error'));
  }

  &__Focus {
    // TODO!
  }

  &__Hint {
    @include wrapper-with-message(cfg('colors.messages.hint'));
  }

  &__Border {
    .Content {
      @include border;
    }
  }

  &__Warning {
    @include wrapper-with-message(cfg('colors.messages.warning'));
  }

  @include respond-below(laptop) {
    width: 100%;

    .Content {
      width: 100%;
    }
  }
}

.Picker {
  @include Picker;

  &__Open {
    @include z(OpenLayer);
  }

  &__Error {
    @include picker-wrapper-with-message(cfg('colors.messages.error'));
  }

  &__Hint {
    @include picker-wrapper-with-message(cfg('colors.messages.hint'));
  }

  &__Warning {
    @include picker-wrapper-with-message(cfg('colors.messages.warning'));
  }
}
