/* stylelint-disable scss/selector-nest-combinators */
@import '~highlight.js/scss/github.scss';
@import './mixins';

@mixin Code {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: vr(8) 0;

  .Title {
    @include text(14, 32, m, $oneline: true);

    flex: 1 0 0;
    padding: 0 vr(16);
    background-color: $color-primary;
    color: $color-font-inverted;
    cursor: pointer;
  }

  .Label {
    @include text(11, 32, xs);

    flex-grow: 0;
    padding-right: vr(16);
    background-color: $color-primary;
    color: $color-font-inverted;
    text-align: right;
    cursor: pointer;
  }

  .Pre {
    flex: 0 0 100%;
    margin: 0;
    width: 100%;

    .Content {
      @include border;

      counter-reset: line;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
    }
  }
}

@mixin Line {
  @include text-style(code);

  counter-increment: line;
  display: block;
  flex: 1 0 100%;

  &:nth-child(odd) {
    background-color: #ffffff;
  }

  &:nth-child(even) {
    background-color: #f6f6f6;
  }

  &:before {
    content: counter(line);
    display: inline-block;
    margin-right: vr(8);
    border-right: $border;
    width: vr(24);
    padding: 0 vr(8);
    color: $color-font;
    text-align: right;
  }
}

.Line {
  @include Line;

  &__Highlighted {
    @include text-weight(l);

    &:nth-child(odd) {
      background-color: #cccccc;
    }

    &:nth-child(even) {
      background-color: #d4d4d4;
    }
  }
}

.Code {
  @include Code;

  &__Open {
    .Pre {
      height: auto;
      overflow-y: visible;
    }
  }

  &__Closed {
    .Pre {
      height: 0;
      overflow-y: hidden;
    }
  }
}

:global {
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #d73a49;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #6f42c1;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    color: #005cc5;
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    color: #032f62;
  }

  .hljs-built_in,
  .hljs-symbol {
    color: #e36209;
  }

  .hljs-comment {
    color: #bfc4ca;
  }

  .hljs-code,
  .hljs-formula {
    color: #6a737d;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    color: #22863a;
  }

  .hljs-subst {
    color: #24292e;
  }

  .hljs-section {
    @include text-weight(l);

    color: #005cc5;
  }

  .hljs-bullet {
    color: #735c0f;
  }

  .hljs-emphasis {
    font-style: italic;
    color: #24292e;
  }

  .hljs-strong {
    @include text-weight(l);

    color: #24292e;
  }

  .hljs-addition {
    background-color: #f0fff4;
    color: #22863a;
  }

  .hljs-deletion {
    background-color: #ffeef0;
    color: #b31d28;
  }

  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    color: inherit;
  }
}
