@import './mixins';

$self-spacing: vr(8);

@mixin ColorIcon {
  width: 100%;
  height: 100%;
  font-style: normal;
  line-height: inherit;
  text-align: center;
}

.ColorIcon {
  @include ColorIcon;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  & + .Wrapper {
    margin-left: $self-spacing;
  }

  &__Border {
    .ColorIcon {
      border: $border;
    }
  }
}
