@import './mixins';

@mixin wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Content {
    border-color: $color;
  }
}

@mixin picker-wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Input {
    input {
      border-color: $color;
    }
  }
}

@mixin Color {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .Content {
    display: flex;
    width: 100%;
    min-height: rows(30);
    padding-top: rows(1);
    overflow: hidden;

    .Surface {
      position: relative;
      flex-grow: 1;
      margin-right: vr(8);
      border: $border;
      border-radius: $border-radius;
      width: 0;
      background-image: url('../assets/images/picker-background.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .Handle {
        $size: vr(24);

        position: absolute;
        display: block;
        border: $border-width solid $color-white;
        border-radius: 50%;
        width: $size;
        height: $size;
        box-shadow: 0 0 vr(5) $color-border;
        transform: translate(-50%, -50%);
      }
    }

    .Hue {
      position: relative;
      box-sizing: border-box;
      border: $border;
      border-radius: $border-radius;
      width: vr(39);
      background-image: url('../assets/images/picker-hue-background.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .Handle {
        position: absolute;
        left: vr(-1);
        display: block;
        border: $border-width solid $color-white;
        border-radius: $border-radius;
        width: 100%;
        height: rows(1);
        box-shadow: 0 0 vr(5) $color-border;
        transform: translateY(-50%);
      }
    }
  }

  :global(.Control) {
    @include visually-hidden;
  }

  :global(.Required) {
    top: vr(3);
    right: vr(42);
  }
}

@mixin Picker {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  :global(.LayerCover) {
    width: 100%;

    .Input {
      width: 100%;
    }
  }

  :global(.Required) {
    top: 0;
    right: vr(-6);
  }

  .Color {
    .Content {
      padding: 0;
    }
  }
}

.Color {
  @include Color;

  &__Disabled {
    // TODO!
  }

  &__Error {
    @include wrapper-with-message(error);
  }

  &__Focus {
    // TODO!
  }

  &__Hint {
    @include wrapper-with-message(hint);
  }

  &__Border {
    .Content {
      @include border;
    }
  }

  &__Warning {
    @include wrapper-with-message(warning);
  }
}

.Picker {
  @include Picker;

  &__Open {
    @include z(OpenLayer);
  }

  &__Error {
    @include picker-wrapper-with-message(error);
  }

  &__Hint {
    @include picker-wrapper-with-message(hint);
  }

  &__Warning {
    @include picker-wrapper-with-message(warning);
  }
}
