@import './mixins';

@mixin Column {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 vr(8);

  .ButtonBox {
    flex-grow: 0;
  }
}

@mixin Set {
  display: flex;
  align-items: stretch;

  @include respond-below(tablet) {
    flex-wrap: wrap;
  }
}

.Column {
  @include Column;

  @for $i from 1 through 11 {
    @for $j from 1 through 12 {
      $width: percentage($i / $j);

      &_#{$i}_#{$j} {
        flex-basis: $width;
        max-width: $width;
      }
    }
  }

  &__LeftSep {
    border-left: $border;
  }

  &__RightSep {
    border-right: $border;
  }

  &__VerticalCenter {
    justify-content: center;
  }

  @include respond-below(tablet) {
    flex-basis: 100%;

    &__LeftSep {
      border-left: 0;
    }

    &__RightSep {
      border-right: 0;
    }
  }
}

.Set {
  @include Set;

  &__FullHeight {
    min-height: 100%;

    .Column {
      min-height: 100%;
    }
  }

  &__Outer {
    .Column {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__Separators {
    .Column {
      border-left: $border;

      &:first-child {
        border-left: 0;
      }
    }
  }
}
