@import './mixins';

@mixin Content {
  @include text(14, 24, xs);
  @include z(Common);

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: vr(1);
  padding: vr(8) 0;
}

.Content {
  @include Content;
}
