@import './mixins';

$desktop-image-size: vr(240);
$mobile-image-size: vr(80);
$mobile-dimmer-space: vr(64);

@mixin Dialog {
  @include dimmer;
  @include z(Dialog);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: vr(40) 0;
  overflow: hidden;

  .DimmerClose {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: vr(8);
    width: vr(32);
    height: vr(32);

    &:before {
      content: '\f00d';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      font: normal normal 900 vr(16) / vr(32) cfg('text.fonts.icons.family');
      color: #666666;
      text-align: center;
    }
  }

  .Content {
    @include shadow(elevation, $color: rgba(0, 0, 0, 0.15));

    position: relative;
    display: flex;
    flex-direction: column;
    width: vr(cfg('breakpoints.desktop.dialog.normal.width'));
    max-height: 100%;
    background-color: $color-background;

    .Close {
      @include z(Significant);

      display: none;
      position: absolute;
      top: 0;
      right: 0;
      margin: vr(8);
      width: vr(32);
      height: vr(32);

      &:before {
        content: '\f00d';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        font: normal normal 900 vr(16) / vr(32) cfg('text.fonts.icons.family');
        color: #666666;
        text-align: center;
      }

      & + .Inner {
        margin-top: vr(32);
      }
    }

    .Badge {
      position: absolute;
      align-self: center;
      transform: translateY(-50%);

      & + .Inner {
        .Text {
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }

    .Form {
      padding: 0 vr(40);
    }

    .Header {
      @include z(Common);

      flex-shrink: 0;
      margin-top: vr(8);
      padding: 0 vr(24);

      & + .Inner {
        margin-top: vr(8);

        .Text {
          padding-top: vr(8);
        }
      }
    }

    .Image {
      position: relative;
      min-height: vr(cfg('breakpoints.desktop.dialog.normal.imageHeight'));
      max-height: vr(cfg('breakpoints.desktop.dialog.normal.imageHeight'));

      & + .Inner {
        .Text {
          padding-top: vr(8);
        }
      }
    }

    .Menu {
      position: absolute;
      right: 0;
      margin: vr(8);
      width: auto;
    }

    .Summary {
      padding: 0 vr(24) vr(8);
    }

    .Tabs {
      border-bottom: $border;
      padding: vr(16) vr(32) 0;

      & + .Inner {
        .Text {
          padding-top: vr(8);
        }
      }
    }

    .Inner {
      margin-top: vr(16);
      margin-bottom: vr(8);
      overflow: auto;

      &:last-child {
        margin-bottom: vr(16);
      }

      .Heading {
        padding: vr(16) vr(32);

        & + .Text {
          padding-top: 0;
        }
      }

      .Text {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0 vr(40);
      }
    }

    .Addition {
      @include text(12, 14, xs, $align: center);

      padding: 0 vr(8) vr(8);
    }

    .Footer {
      flex-shrink: 0;
      padding: 0 vr(32) vr(8);

      &:last-child {
        padding-bottom: vr(16);
      }
    }
  }
}

.Dialog {
  @include Dialog;

  &__CanClose {
    position: relative;

    .DimmerClose {
      display: block;
    }

    .Content {
      .Close {
        display: block;
      }
    }
  }

  &__Mini {
    .Content {
      width: vr(cfg('breakpoints.desktop.dialog.mini.width'));

      .Image {
        min-height: vr(cfg('breakpoints.desktop.dialog.mini.imageHeight'));
        max-height: vr(cfg('breakpoints.desktop.dialog.mini.imageHeight'));
      }
    }
  }

  &__Nano {
    .Content {
      width: vr(cfg('breakpoints.desktop.dialog.nano.width'));

      .Image {
        min-height: vr(cfg('breakpoints.desktop.dialog.nano.imageHeight'));
        max-height: vr(cfg('breakpoints.desktop.dialog.nano.imageHeight'));
      }
    }
  }

  &__Loading {
    .Content {
      height: vr(200);
    }
  }

  @include respond-below(laptop) {
    .Content {
      width: 100%;

      .Image {
        min-height: $mobile-image-size;
        max-height: $mobile-image-size;
      }
    }

    &__Mini {
      .Content {
        width: 100%;

        .Image {
          min-height: $mobile-image-size;
          max-height: $mobile-image-size;
        }
      }
    }

    &__Nano {
      .Content {
        width: 100%;

        .Image {
          min-height: $mobile-image-size;
          max-height: $mobile-image-size;
        }
      }
    }
  }
}

:global(.__Playground) {
  .Dialog {
    position: absolute;
  }
}
