@import './mixins';

@mixin Dimmer {
  @include dimmer;
  @include z(Dimmer);
}

.Dimmer {
  @include Dimmer;

  &__Always {
    display: block;
  }

  &__Mobile {
    display: none;

    @include respond-below(laptop) {
      display: block;
    }
  }

  &__Never {
    display: none;
  }
}
