@import './mixins';

@mixin Dot {
  @include border;
  @include size(16);

  position: relative;
  flex: 0 0 vr(16);
  box-sizing: border-box;
  border-width: $border-width;
  border-style: solid;
  border-color: $color-border;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  resize: none;

  & + & {
    margin-left: vr(2);
  }
}

@mixin Dots {
  display: flex;
  min-height: vr(16);
  padding: vr(16) 0;
}

.Dot {
  @include Dot;

  &:not(.Dot__Filled) {
    background: none;
  }
}

.Dots {
  @include Dots;
}
