@import './mixins';

@mixin Item {
  border-color: transparent;
  width: 100%;

  & + .Item {
    .Option {
      border-top-color: #eaeaea;
    }
  }

  .Option {
    @include hoverable(true);

    border-style: solid;
    border-color: transparent;
    border-top-width: $border-width;
    border-bottom-width: $border-width;
    cursor: pointer;
  }

  .Control {
    @include visually-hidden;
  }
}

@mixin Dropdown {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: vr(4) 0;

  .Cover {
    @include focusable(true);

    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    .Label {
      @include text(14, 24, s);

      padding: vr(8) vr(8) vr(8) 0;

      &:first-child {
        padding-left: vr(8);
      }
    }

    .Icon {
      padding: vr(4);
    }
  }
}

.Item {
  @include Item;

  &__Disabled {
    .Option {
      cursor: inherit;
    }
  }
}

.Dropdown {
  @include Dropdown;

  &:not(&__Disabled) {
    .Cover {
      @include hoverable(true);
    }
  }

  &__Accent {
    .Cover {
      background-color: $color-background-accent;

      &:hover {
        background-color: #dadada;
      }
    }
  }

  &__Border {
    .Cover {
      @include border;

      .Label {
        padding-top: vr(7);
        padding-bottom: vr(7);
      }
    }
  }

  &__Open {
    @include z(OpenLayer);
  }

  &__Disabled {
    .Cover {
      @include disabled;
    }
  }

  &__Focus {
    .Cover {
      @include focused(true);
    }
  }
}
