@import './mixins';

$col-size-width: vr(240);
$col-actions-width: vr(64);

@mixin row {
  .Name {
    @include text-overflow;

    display: block;
    flex: 1 0 0;
    padding: 0 vr(8);

    .Extension {
      @include text(10, 16, xs);
  
      text-transform: lowercase;
  
      &:before {
        content: ".";
      }
    }

    .Icon {
      display: inline-block;
      vertical-align: top;
      margin-right: vr(8);
    }
  }

  .Size {
    @include text-overflow;

    display: block;
    flex: 0 0 $col-size-width;
    padding: 0 vr(8);
  }

  .Actions {
    display: block;
    flex: 0 0 $col-actions-width;
    padding: 0 vr(8);
    text-align: right;

    .Remove {
      color: rgb(220, 20, 20);
    }
  }
}

@mixin with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Content {
    border-color: $color;
  }
}

@mixin File {
  @include text(15, 24, xs);
  @include row;

  display: flex;
  padding: vr(4) 0;

  & + & {
    border-top: $border;
    padding-top: vr(3);
  }
}

@mixin Dropzone {
  box-sizing: border-box;
  width: 100%;
  padding: vr(4) 0;

  .Content {
    @include border;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: vr(15) vr(16);
    background-color: $color-background-accent;

    :global(.Control) {
      @include visually-hidden;
    }

    .Text {
      @include text(13, 24, s);

      width: 100%;
      text-align: center;
    }

    .Button {
      position: relative;
      margin-top: vr(8);
      margin-bottom: vr(8);

      .Required {
        top: vr(-5);
        right: vr(-6);
      }
    }

    .Files {
      @include border;

      box-sizing: border-box;
      width: 100%;
      padding: vr(7) vr(8);
      background-color: $color-background;

      .Header {
        @include row;
        @include text(12, 15, m);

        display: flex;
        border-bottom: $border;
      }

      .Empty {
        @include text(16, 24, l);

        width: 100%;
        padding-top: vr(8);
        text-align: center;
      }
    }
  }
}

.File {
  @include File;
}

.Dropzone {
  @include Dropzone;

  &__Error {
    @include with-message(error);
  }

  &__Hint {
    @include with-message(hint);
  }

  &__Warning {
    @include with-message(warning);
  }

  &__Over {
    .Content {
      border-width: vr(8);
      border-style: dashed;
      padding: vr(8);
      background-color: #dddddd;
    }
  }
}
