@import './mixins';

@mixin Empty {
  position: relative;
  display: block;
  width: 100%;
  padding: vr(8) 0 vr(8);

  .Image {
    display: block;
    margin: 0 auto;
  }

  .Title {
    @include text(20, 28, l, $align: center);

    margin: 0 auto;
    max-width: vr(cfg('components.empty.size') * 3);
    padding: vr(8);
  }

  .Content {
    @include text(14, 20, $align: center);

    margin: 0 auto;
    max-width: vr(cfg('components.empty.size') * 3);
    padding: vr(8);
  }
}

.Empty {
  @include Empty;
}
