@import './mixins';

@mixin Error {
  display: block;
  width: 100%;
  overflow-x: hidden;

  .Image {
    display: block;
    margin: vr(16) auto vr(8);
  }

  .Title {
    @include text(24, 32, xs, $align: center, $color: cfg('colors.messages.error'));

    padding: vr(8) vr(16);
  }

  .Description,
  .Exception {
    @include text-style(paragraph);

    margin: 0 auto;
    max-width: vr(600);
    padding: vr(8) vr(16);
    text-align: center;
  }

  .Traceback {
    @include border;
    @include text(12, 16, xs, $align: center, $font: monospace);

    margin: vr(8) vr(16);
    padding: vr(8) vr(16);
    background-color: $color-background-accent;

    pre {
      margin: 0;
      white-space: pre-wrap;
    }
  }
}

.Error {
  @include Error;
}
