@import './mixins';

@mixin Item {
  position: relative;
  display: flex;
  align-items: center;

  &:not(.Cover) {
    padding: vr(8) 0;
  }

  .Label {
    @include text(14, 24, s, $oneline: true);

    margin: 0 vr(8);
    border-radius: $border-radius;
    padding: 0 vr(8);
    background-color: rgba(255, 255, 255, 0.5);
  }

  .Icon {
    border: 0;
  }
}

@mixin Fab {
  @include z(Fab);

  position: fixed;
  display: flex;
  margin: vr(24);

  .CoverLabel {
    @include text(18, 64, xs);

    padding: 0 vr(8);
  }

  .Cover {
    position: relative;
  }
}

.Item {
  @include Item;
}

.Fab {
  @include Fab;

  &__BottomLeft {
    bottom: 0;
    left: 0;

    .Item {
      flex-direction: row-reverse;

      &:not(.Cover) {
        margin-right: auto;
      }
    }
  }

  &__BottomRight {
    right: 0;
    bottom: 0;

    .Item {
      &:not(.Cover) {
        margin-left: auto;
      }
    }
  }

  &__TopLeft {
    top: 0;
    left: 0;

    .Item {
      flex-direction: row-reverse;

      &:not(.Cover) {
        margin-right: auto;
      }
    }
  }

  &__TopRight {
    top: 0;
    right: 0;

    .Item {
      &:not(.Cover) {
        margin-left: auto;
      }
    }
  }
}

:global(.__Playground) {
  .Fab {
    position: absolute;
  }
}
