@import './mixins';

@mixin Field {
  display: flex;
  vertical-align: top;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;

  .Content {
    @include text(14, 24, xs);

    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;

    .Button {
      width: 100%;

      button {
        width: 100%;
      }
    }

    .Checkbox,
    .Toggle {
      justify-content: center;
    }

    .Option {
      width: 100%;
    }
  }
}

@mixin Group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .Label {
    & + .GroupContent {
      .Field {
        .Label {
          color: #999999;
        }
      }
    }
  }

  .GroupContent {
    display: flex;
    flex-grow: 1;
  }

  .Field {
    & + .Field {
      padding-left: vr(8);
    }
  }
}

.Field {
  @include Field;
  @include mod-numeric-sizes(12);

  &__NoSize {
    flex: 1 1 100%;
  }

  &__Size_0 {
    flex: 0 0 0;
  }

  &__Label_After {
    .Content {
      order: 0;
    }

    .Label {
      order: 1;
    }
  }

  &__Label_Top {
    .Content {
      .Text {
        padding: 0;
      }
    }
  }

  &__Label_Bottom {
    .Content {
      order: 0;

      .Text {
        padding: 0;
      }
    }

    .Label {
      order: 1;
    }
  }

  &__Label_Alongside {
    .Content {
      .Text {
        padding: vr(12) 0;
      }
    }
  }

  &__Checkbox_Child,
  &__Toggle_Child {
    .Content {
      flex: 0 0 vr(64);
    }
  }

  &__Option_Child {
    .Content {
      flex-basis: 100%;
    }
  }
}

.Group {
  @include Group;
}
