@import './mixins';

@mixin Fieldset {
  @include text(13, 24, xs);

  border: 0;
  width: 100%;
  padding: vr(8) 0 0;

  .Legend {
    @include text(14, 24, m);

    padding: vr(8) 0 0;
  }

  .Content {
    position: relative;
  }
}

.Fieldset {
  @include Fieldset;

  &__Border {
    @include border;

    padding: vr(8);

    .Legend {
      margin-bottom: vr(-8);
      padding: 0 vr(8);
    }
  }
}
