@import './mixins';

@mixin Figure {
  box-sizing: border-box;
  margin: 0;
  width: 100%;

  .Image {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }

  .Caption {
    width: 100%;
  }
}

.Figure {
  @include Figure;

  &__Center {
    .Image {
      margin: 0 auto;
    }

    .Caption {
      text-align: center;
    }
  }

  &__Justify {
    .Caption {
      text-align: left;
    }
  }

  &__Left {
    .Caption {
      text-align: left;
    }
  }

  &__Right {
    .Image {
      margin-left: auto;
    }

    .Caption {
      text-align: right;
    }
  }

  &__Counter {
    counter-increment: fig;

    .Caption {
      &:before {
        content: 'Fig. ' counter(fig) '.';
        display: inline-block;
        padding-right: vr(8);
      }
    }
  }
}
