@import './mixins';

$col-size-width: vr(240);
$col-actions-width: vr(64);

@mixin with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Content {
    border-color: $color;
  }
}

@mixin File {
  @include text(15, 24, xs);

  display: flex;
  height: vr(40);
  align-items: flex-start;
  max-width: 100%;
  min-width: vr(104);
  padding: 0;

  .Actions {
    .Remove {
      color: #ca1111;
    }
  }

  .Name {
    @include text-overflow;

    max-width: vr(160);

    .Icon {
      display: inline-block;
      margin-right: vr(8);
      border-radius: $border-radius;
      vertical-align: top;
    }
  }

  .Extension {
    @include text(10, 16, xs);

    top: vr(6);
    text-transform: lowercase;

    &:before {
      content: ".";
    }
  }

  .Size {
    @include text(10, 16, xs);
    @include text-overflow;

    position: absolute;
    bottom: 0;
    left: vr(56);
    flex-shrink: 0;
  }

  & + & {
    margin-left: vr(8);
    border-left: $border;
    padding-left: vr(8);

    .Size {
      left: vr(64);
    }
  }
}

@mixin FileInput {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;

  :global(.Control) {
    @include visually-hidden;
  }

  .Button {
    position: relative;

    :global(.Required) {
      top: vr(-5);
      right: vr(-6);
    }
  }

  .Files {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
    padding: vr(4) 0;

    & + .Button {
      margin-left: vr(8);
    }
  }

  :global(.Message) {
    flex-basis: 100%;
  }
}

.File {
  @include File;
}

.FileInput {
  @include FileInput;

  &__Error {
    @include with-message(error);
  }

  &__Hint {
    @include with-message(hint);
  }

  &__Warning {
    @include with-message(warning);
  }

  &__Over {
    border-width: vr(8);
    border-style: dashed;
    padding: vr(8);
    background-color: #dddddd;
  }
}
