@import './mixins';

@mixin Flipper {
  .Items {
    display: block;
    margin: 0;
    height: 100%;
    padding: 0;
    overflow-y: overlay;
    scroll-snap-type: y mandatory;
  }
}

@mixin Page {
  display: block;
  height: 100%;
  scroll-snap-align: start;
}

.Flipper {
  @include Flipper;
}

.Page {
  @include Page;
}
