@import './mixins';

@mixin Footer {
  @include text(13, 32, xs);
  @include z(Menu);

  display: flex;
  justify-content: center;
  background-color: $color-background;
  overflow-y: auto;

  .Content {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 vr(8);
    overflow: auto;
  }
}

.Footer {
  @include Footer;

  &__Stretch {
    .Content {
      flex-wrap: wrap;
    }
  }

  &__Border {
    border-top: $border;
  }

  &__Center {
    .Content {
      justify-content: center;
    }
  }

  &__Justify {
    .Content {
      justify-content: space-between;
    }
  }

  &__Left {
    .Content {
      justify-content: flex-start;
    }
  }

  &__Right {
    .Content {
      justify-content: flex-end;
    }
  }
}
