@import './mixins';

@mixin Form {
  padding: vr(8);

  .Title {
    @include text(20, 32, xl);

    padding: 0 0 vr(8);
  }

  .Content {
    @include text(14, 24, xs);

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.Form {
  @include Form;

  &__Border {
    @include border;

    margin: vr(8) 0;
  }
}
