@import './mixins';

@mixin GraphicPreview {
  display: flex;
  width: 100%;
  padding: rows(2) 0;

  .Image {
    flex-shrink: 0;
    margin: 0 vr(32) 0 0;
    border-right: $border;
    max-width: vr(320);
    max-height: vr(320);
  }

  .Content {
    position: relative;
    left: vr(-1);
    flex-grow: 1;
    box-sizing: border-box;
    border-left: $border;
    padding-left: vr(8);
  }

  @include respond-above(desktop) {
    .Image {
      max-width: vr(400);
      max-height: vr(400);
    }
  }

  @include respond-below(desktop) {
    .Image {
      max-width: vr(280);
      max-height: vr(280);
    }
  }

  @include respond-below(laptop) {
    .Image {
      max-width: vr(240);
      max-height: vr(240);
    }
  }

  @include respond-below(tablet) {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: none;
    padding: 0;

    .Image {
      margin: 0 auto vr(16);
      border-right: 0;
      max-width: vr(320);
      max-height: vr(320);
      padding: 0;
    }

    .Content {
      left: 0;
      border-left: 0;
      width: 100%;
    }
  }

  @include respond-below(phoneM) {
    .Image {
      margin: 0 auto vr(8);
      max-width: vr(240);
      max-height: vr(240);
    }
  }
}

.GraphicPreview {
  @include GraphicPreview;
}
