@import './mixins';

@mixin item-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: vr(32);
  cursor: pointer;

  i {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: vr(34);
  }
}

@mixin wrapper-with-message($color) {
  padding-bottom: vr(24);

  .GridSelect {
    border-color: $color;
  }
}

@mixin Item {
  @include text-style(control);

  position: relative;
  display: flex;
  border: $border-width solid transparent;
  border-bottom: $border;
  width: 100%;
  padding: 0 vr(32) 0 vr(8);
  background-color: cfg('colors.controls.normal.background');
  text-align: left;
  outline: none;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: cfg('colors.controls.hover.background');
  }

  &:focus {
    background-color: cfg('colors.controls.focus.background');
  }

  .IconWrapper {
    display: inline-flex;
    padding: rows(1) vr(8) rows(1) 0;

    & + .TextWrapper {
      padding-right: vr(48);

      .Text {
        &:only-child {
          @include min-height(56);
        }
      }
    }
  }

  .TextWrapper {
    box-sizing: border-box;
    width: 100%;

    .Text {
      @include text(14, 38, s, $align: left, $oneline: true);

      vertical-align: top;
      line-height: vr(36);
    }

    .TextSecondary {
      @include text(12, 24, s, $color: $color-font-semi, $oneline: true);

      position: relative;
      top: vr(-3);
      vertical-align: top;
      flex-grow: 1;
    }
  }

  .Check {
    @include item-icon;
  }

  .Arrow {
    @include item-icon;
  }

  @include mod-rwd-visibility;

  &__Disabled {
    @include disabled;
  }
}

@mixin Required {
  @include z(Common);

  top: vr(4);
  bottom: vr(4);
}

@mixin GridSelect {
  @include border;

  position: relative;
  width: 100%;
}

@mixin Scrollbar {
  @include z(Significant);

  position: absolute;
  top: vr(-8);
  right: vr(-8);
  left: vr(-8);
  padding: vr(1);

  .Item {
    width: calc(100% - 7px);
  }

  .ScrollbarHandle {
    margin-top: vr(4);
  }
}

.Item {
  @include Item;
}

.Required {
  @include Required;
}

.Scrollbar {
  @include Scrollbar;
}

.GridSelect {
  @include GridSelect;
}

.Wrapper {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  width: 100%;
  padding: vr(4) 0;

  @for $i from 1 through 8 {
    $width: percentage(1 / $i);

    &__Size_#{$i} {
      .Item {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $width;
        width: $width;
      }

      .MainItem {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        width: 100%;
      }
    }
  }

  @include mod-rwd-visibility;

  &__Open {
    @include z(OpenLayer);

    .Layer {
      > div {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &__Disabled {
    // TODO!
  }

  &__Error {
    @include wrapper-with-message(cfg('colors.messages.error'));
  }

  &__Focus {
    // TODO!
  }

  &__Hint {
    @include wrapper-with-message(cfg('colors.messages.hint'));
  }

  &__Warning {
    @include wrapper-with-message(cfg('colors.messages.warning'));
  }
}
