@import './mixins';

@mixin Hamburger {
  @include dimmer;
  @include z(Hamburger);

  overflow: hidden;

  .Close {
    position: absolute;
    top: 0;
    margin: vr(8);
    width: vr(32);
    height: vr(32);

    &:before {
      content: '\f00d';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      font: normal normal 900 vr(16) / vr(32) cfg('text.fonts.icons.family');
      color: #666666;
      text-align: center;
    }
  }

  .Content {
    @include shadow(elevation, $color: rgba(0, 0, 0, 0.15));

    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-background;

    .Badge {
      align-self: center;
      margin: vr(16) 0;

      & + .Inner {
        .Text {
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }

    .Header {
      position: relative;
    }

    .Image {
      position: relative;
    }

    .Menu {
      position: absolute;
      right: 0;
      margin: vr(8);
      width: auto;
    }

    .Inner {
      display: flex;
      flex: 1 0 0;
      flex-wrap: wrap;
      overflow: auto;

      .Heading {
        & + .Text {
          padding-top: 0;
        }
      }

      .Text {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: vr(8);

        & + .Text {
          padding-top: 0;
        }
      }
    }

    .Addition {
      @include text(12, 14, xs, $align: center);

      padding: 0 vr(8) vr(8);
    }

    .Footer {
      position: relative;
    }
  }
}

.Hamburger {
  @include Hamburger;

  &__Left {
    .Close {
      right: 0;
    }

    .Content {
      left: 0;
      border-right: $border;
    }
  }

  &__Right {
    .Close {
      left: 0;
    }

    .Content {
      right: 0;
      border-left: $border;
    }
  }
}

:global(.__Playground) {
  .Hamburger {
    position: absolute;
  }
}
