@import './mixins';

$icon-space-from-counter: vr(4);
$icon-space-from-siblings: vr(8);

@mixin common-header($kind) {
  @include text-style($kind);

  display: block;
  box-sizing: border-box;
  width: 100%;

  > * {
    & + * {
      margin-left: $icon-space-from-siblings;
    }
  }

  @include mod-text-align;

  &__Counter {
    .Icon {
      &:first-child {
        margin-left: $icon-space-from-counter;
      }
    }
  }

  &__Dialog {
    &:first-child {
      padding-top: 0;
    }
  }
}

@mixin H1 {
  @include common-header(h1);

  counter-reset: sect2 sect3 sect4 sect5;
  letter-spacing: vr(-2);
}

@mixin H2 {
  @include common-header(h2);

  counter-reset: sect3 sect4 sect5;
  letter-spacing: vr(-1);
}

@mixin H3 {
  @include common-header(h3);

  counter-reset: sect4 sect5;
  min-height: vr(32);
  line-height: vr(32);
}

@mixin H4 {
  @include common-header(h4);

  counter-reset: sect5;
}

@mixin H5 {
  @include common-header(h5);

  font-style: normal;
}

.H1 {
  @include H1;

  &__Counter {
    counter-increment: sect1;

    &:before {
      content: counter(sect1) '.';
      display: inline-block;
      padding-right: vr(8);
    }
  }
}

.H2 {
  @include H2;

  &__Counter {
    counter-increment: sect2;

    &:before {
      content: counter(sect1) '.' counter(sect2) '.';
      display: inline-block;
      padding-right: vr(8);
    }
  }
}

.H3 {
  @include H3;

  &__Counter {
    counter-increment: sect3;

    &:before {
      content: counter(sect1) '.' counter(sect2) '.' counter(sect3) '.';
      display: inline-block;
      padding-right: vr(8);
    }
  }
}

.H4 {
  @include H4;

  &__Counter {
    counter-increment: sect4;

    &:before {
      content: counter(sect1) '.' counter(sect2) '.' counter(sect3) '.' counter(sect4) '.';
      display: inline-block;
      padding-right: vr(8);
    }
  }
}

.H5 {
  @include H5;

  &__Counter {
    counter-increment: sect5;

    &:before {
      content: counter(sect1) '.' counter(sect2) '.' counter(sect3) '.' counter(sect4) '.' counter(sect5) '.';
      display: inline-block;
      padding-right: vr(8);
    }
  }
}
