@import './mixins';

$self-spacing: vr(8);

@mixin Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & + & {
    margin-left: $self-spacing;
  }

  .Img {
    cursor: inherit;
  }
}

.Icon {
  @include Icon;

  &__Center {
    align-self: center;
    margin: 0 auto;
  }

  &__Justify {
    align-self: stretch;    
  }

  &__Left {
    align-self: flex-start;    
  }

  &__Right {
    align-self: flex-end;    
  }

  &__Border {
    border: $border;
  }
}
