@import './mixins';

$self-spacing: vr(8);

@mixin Image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  & + & {
    margin-left: $self-spacing;
  }

  .Img {
    cursor: inherit;
  }
}

@mixin Layer {
  @include z(OpenLayer);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: vr(32);
  box-sizing: border-box;

  .Img {
    flex-grow: 0;
    border: vr(8) solid #dddddd;
    border-radius: $border-radius;
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin Group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .Image {
    & + .Image {
      margin-left: 0;
    }
  }
}

.Image {
  @include Image;

  &__Border {
    border: $border;
  }
}

.Layer {
  @include Layer;
}

.Group {
  @include Group;

  &__0_Children {

  }

  &__1_Children {

  }

  &__2_Children {

  }

  &__3_Children {

  }

  &__4_Children {

  }

  &__MoreChildren {

  }

  &__Center {
    justify-content: center;
  }

  &__Justify {
    justify-content: center;
  }

  &__Left {
    justify-content: flex-start;
  }

  &__Right {
    justify-content: flex-end;
  }
}
