@import './mixins';

$horizontal-padding: vr(16);
$vertical-padding: rows(1);
$horizontal-spacing: 0;
$vertical-spacing: rows(1);
$max-icon-width: vr(56);

@mixin InfoBox {
  @include border;

  display: flex;
  margin: $vertical-spacing $horizontal-spacing;
  border-color: cfg('colors.boxes.helper.border');
  width: 100%;
  padding: $vertical-padding $horizontal-padding;
  background-color: cfg('colors.boxes.helper.background');
  color: cfg('colors.boxes.helper.font');

  p {
    margin: 0;
  }

  .Icon {
    flex: 0 0 $max-icon-width;
    align-self: center;
  }

  .Text {
    @include text(14, 20);

    flex-grow: 1;
    align-self: center;
  }

  &__Left {
    .Icon {
      padding-right: $horizontal-padding;
    }

    .Text {
      text-align: left;
    }
  }

  &__Right {
    .Icon {
      order: 1;
      padding-left: $horizontal-padding;
    }

    .Text {
      text-align: right;
    }
  }

  &__Center {
    flex-wrap: wrap;

    .Icon {
      flex-basis: 100%;
      padding-bottom: $vertical-padding;
    }

    .Text {
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__Justify {
    .Icon {
      padding-right: $horizontal-padding;
    }

    .Text {
      text-align: justify;
    }
  }

  @include respond-below(phoneL) {
    flex-wrap: wrap;

    .Icon {
      flex-basis: 100%;
      order: 0;
      padding: 0 0 $vertical-padding 0;
    }

    .Text {
      text-align: center;
    }
  }
}

.InfoBox {
  @include InfoBox;
}
