@import './mixins';

@mixin Infotip {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: vr(4) 0;

  .Cover {
    @include focusable(true);

    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: vr(4);
    cursor: pointer;
  }
}

.Infotip {
  @include Infotip;

  &:not(&__Disabled) {
    .Cover {
      @include hoverable(true);
    }
  }

  &__Accent {
    .Cover {
      background-color: $color-background-accent;

      &:hover {
        background-color: #dadada;
      }
    }
  }

  &__Border {
    .Cover {
      @include border;
    }
  }

  &__Open {
    @include z(OpenLayer);
  }

  &__Disabled {
    .Cover {
      @include disabled;
    }
  }

  &__Focus {
    .Cover {
      @include focused(true);
    }
  }
}
