@import './mixins';

$input-height: 40;

@mixin with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Icon {
    border-right-color: $color;
    color: $color;
  }

  :global(.Control) {
    border-color: $color;
  }

  .Actions {
    .Action {
      color: $color;
    }
  }
}

@mixin padding-mask {
  @include z(Common);

  content: "";
  position: absolute;
  right: vr(8);
  left: vr(1);
  height: vr(7);
  background-color: #ffffff;
  cursor: text;
}

@mixin Input {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0;
  padding: vr(4) 0;

  .Icon {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border-right: $border;
    border-radius: $border-radius 0 0 $border-radius;
    width: vr(38);
    height: 100%;
    line-height: vr(38);
  }

  .Before {
    @include padding-mask;

    top: vr(5);
  }

  .After {
    @include padding-mask;

    bottom: vr(5);
  }

  :global(.Control) {
    @include border;
    @include text(14, 24, s);

    box-sizing: border-box;
    width: 100%;
    padding: vr(7) vr(8);
    outline: none;
    box-shadow: none;
    resize: none;
  }

  .Actions {
    @include text(12, $input-height, s);

    position: absolute;
    right: 0;
    display: flex;

    &:empty {
      display: none;
    }

    .Action {
      position: relative;
      flex: 0 0 vr(38);
      width: vr(38);
      height: 100%;
      color: $color-font-semi;
      line-height: vr(38);
    }

    .Clear {
      position: relative;
      flex: 0 0 vr(38);
      width: vr(38);
      height: 100%;
      color: $color-font-semi;
      line-height: vr(38);

      & ~ .Action {
        margin-left: 0;
      }
    }
  }

  :global(.Message) {
    position: relative;
  }

  :global(.Required) {
    top: 0;
    right: vr(-5);
  }
}

@mixin InputNumber {
  display: flex;
  width: 100%;

  .Decrement,
  .Increment {
    flex: 0 0 vr(40);
    margin: vr(4) 0;
    border: $border-width $border-style cfg('colors.kinds.primary.normal.border');
    height: vr(40);
    background-color: cfg('colors.kinds.primary.normal.background');
    color: cfg('colors.kinds.primary.normal.font');

    &:focus {
      border: $border-width $border-style cfg('colors.kinds.primary.focus.border');
      background-color: cfg('colors.kinds.primary.focus.background');
      color: cfg('colors.kinds.primary.focus.font');
    }

    &:hover {
      border: $border-width $border-style cfg('colors.kinds.primary.hover.border');
      background-color: cfg('colors.kinds.primary.hover.background');
      color: cfg('colors.kinds.primary.hover.font');
    }
  }

  .Decrement {
    border-right: 0;

    &:focus {
      border-right: 0;
    }

    &:hover {
      border-right: 0;
    }
  }

  .Increment {
    border-left: 0;

    &:focus {
      border-left: 0;
    }

    &:hover {
      border-left: 0;
    }
  }
}

.Input {
  @include Input;

  &__Disabled {
    :global(.Control) {
      @include disabled;
    }
  }

  &__Error {
    @include with-message(error);
  }

  &__Focus {
    :global(.Control) {
      @include focused(false);
    }
  }

  &__Hint {
    @include with-message(hint);
  }

  &__Warning {
    @include with-message(warning);
  }

  &__Hidden {
    @include visually-hidden;
  }

  &__Placeholder {
    :global(.Control) {
      color: cfg('colors.messages.placeholder');
    }
  }

  &__WithAction {
    :global(.Control) {
      padding-right: vr($input-height);
    }
  }

  &__WithClear {
    :global(.Control) {
      padding-right: vr($input-height);
    }

    &.Input__WithAction {
      :global(.Control) {
        padding-right: vr(2 * $input-height);
      }
    }
  }

  &__WithIcon {
    :global(.Control) {
      padding-left: vr(48);
    }
  }
}

.InputNumber {
  @include InputNumber;
}
