@import './mixins';

$close-button-size: 16;

@mixin common-control {
  display: block;
  flex-grow: 0;
  height: vr(32);
  padding: 0 vr(4);
  line-height: vr(32);

  label {
    @include text(12, 32, l);

    margin-right: vr(4);

    &:after {
      content: ':';
      display: inline-block;
    }
  }
}

@mixin InteractivePlayground {
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .Panes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .Label {
      @include text(12, 23, m, $align: center, $oneline: true);
      @include z(Significant);

      position: relative;
      display: block;
      align-self: flex-start;
      box-sizing: border-box;
      border-bottom: $border;
      width: 100%;
      height: vr(24);
      padding: 0 vr(16);
    }

    .Pane {
      @include z(Significant);

      position: relative;
      align-self: flex-start;
      width: 100%;

      .OpenTitle {
        @include text(12, 23, m, $oneline: true);

        display: block;
        box-sizing: border-box;
        height: vr(24);
        padding: 0 vr(16);
        background-color: #eaeaea;
      }

      .Title {
        @include text(12, 23, m, $color: $color-font-inverted, $oneline: true);

        display: block;
        box-sizing: border-box;
        border-bottom: $border;
        height: vr(24);
        padding: 0 vr(16);
        background-color: $color-primary;
        cursor: pointer;
      }

      .CloseButton {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: vr($close-button-size);
        height: vr($close-button-size);
        line-height: vr($close-button-size);
        text-align: center;
        cursor: pointer;
      }

      .FormWrapper {
        border-bottom: $border;
        padding: vr(8) vr(16);
        background-color: #eaeaea;
      }
    }
  }

  .FrameWrapper {
    @include z(Common);

    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: vr(8);
    background-image: url('../assets/images/transparent-background.svg');
    background-size: vr(16);
    background-repeat: repeat;

    .Frame {
      @include border;
      @include shadow(elevation, rgba(0, 0, 0, 0.1));
      @include z(Zero);

      display: block;
      box-sizing: content-box;
      width: 100%;
      min-width: vr(240);
      max-width: 100%;
      height: 100%;
      min-height: vr(240);
      max-height: 100%;
      background-color: $color-background;
      overflow: auto;
    }
  }
}

@mixin Form {
  display: flex;
  flex-wrap: wrap;

  .Item {
    @include common-control;

    display: flex;

    .Control__Bool {
      @include common-control;

      input {
        position: relative;
        top: vr(1);
        display: inline-block;
      }
    }

    .Control__Image,
    .Control__Input,
    .Control__NumberInput {
      @include common-control;

      input {
        display: inline-block;
      }
    }

    .Control__Image {
      a {
        @include text(10, 24, xs);

        padding-left: vr(4);
      }
    }

    .Control__NumberInput {
      input {
        width: vr(40);
      }
    }

    .Control__Select {
      @include common-control;

      select {
        display: inline-block;
      }
    }
  }
}

.InteractivePlayground {
  @include InteractivePlayground;

  &__Resizeable {
    .FrameWrapper {
      .Frame {
        resize: both;
      }
    }
  }
}

.Form {
  @include Form;
}
