@import './mixins';

$font-size: 12;
$inline-line-height: 24;
$block-line-height: 16;

@mixin full-width {
  @include text($font-size, $block-line-height, xs, $align: left, $color: $color-font-semi);

  flex: 0 0 100%;
}

@mixin position-bottom {
  padding: vr(2) 0 vr(6);
}

@mixin position-top {
  padding: vr(6) 0 vr(2);
}

@mixin Label {
  position: relative;
  display: flex;
  align-items: baseline;
  min-width: 0;

  .Required {
    position: relative;
    top: vr(-4);
    left: vr(2);
  }
}

.Label {
  @include Label;

  &__Bottom {
    @include full-width;
    @include position-bottom;

    justify-content: flex-start;
  }

  &__BottomCenter {
    @include full-width;
    @include position-bottom;

    justify-content: center;
  }

  &__BottomRight {
    @include full-width;
    @include position-bottom;

    justify-content: flex-end;
  }

  &__Left {
    @include text($font-size, $inline-line-height, xs, $align: left, $color: $color-font-semi);

    flex: 0 0 vr(312);
    justify-content: flex-end;
    padding: vr(12) vr(8) vr(12) 0;
  }

  &__Right {
    @include text($font-size, $inline-line-height, xs, $align: right, $color: $color-font-semi);

    flex: 1 0 vr(312);
    justify-content: flex-start;
    padding: vr(12) 0 vr(12) vr(8);
  }

  &__Top {
    @include full-width;
    @include position-top;

    justify-content: flex-start;
  }

  &__TopCenter {
    @include full-width;
    @include position-top;

    justify-content: center;
  }

  &__TopRight {
    @include full-width;
    @include position-top;

    justify-content: flex-end;
  }

  &__Oneline {
    @include text-overflow;
  }

  @include respond-below(laptop) {
    @include text($font-size, $block-line-height, xs, $align: left, $color: $color-font-semi);

    flex: 0 0 100%;
  }
}
