@import './mixins';

@mixin Layer {
  @include border;
  @include z(OpenLayer);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 0;
  background-color: $color-background;
  overflow: hidden;
  box-shadow: 0 0 vr(5) rgba(0, 0, 0, 0.2);

  .Action {
    order: 1;
    width: 100%;
    padding: vr(4);
  }

  .Content {
    display: flex;
    flex-direction: column;
    order: 2;
    box-sizing: border-box;
    width: 100%;
    max-height: inherit;
    overflow: auto;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: vr(4);
      left: 0;
      display: block;
      background-color: $color-background;
    }

    &:after {
      content: '';
      position: absolute;
      right: vr(4);
      bottom: 0;
      left: 0;
      display: block;
      background-color: $color-background;
    }

    :global(.LayerInput) {
      position: relative;
      display: flex;
      flex: 0 0 0;
      padding: 0 vr(4);

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        right: vr(4);
        left: vr(4);
        display: block;
        height: vr(1);
        background-color: $color-background;
      }
    }
  }

  @include respond-below(laptop) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

    .Action {
      order: 2;
      padding-bottom: vr(12);
    }

    .Content {
      order: 1;
    }
  }
}

.Layer {
  @include Layer;

  &__Clock {
    .Content {
      padding: vr(4);

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  &__Fab {
    margin: vr(8) 0;
    border: 0;
    background-color: inherit;
    box-shadow: none;

    .Content {
      flex-direction: column;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  &__Items {
    .Content {
      padding: vr(4) vr(4) vr(6);

      &:before {
        height: vr(4);
      }

      &:after {
        height: vr(6);
      }
    }
  }

  &__Text {
    .Content {
      @include text(14, 18, xs);

      padding: vr(8);

      &:before {
        height: vr(8);
      }

      &:after {
        height: vr(8);
      }
    }
  }

  &__Mode_Horizontal {
    :global(.LayerItems) {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
  
      & > * {
        scroll-snap-align: start;
      }  
    }
  }

  &__Mode_Origin {
    :global(.LayerItems) {
      overflow-y: auto;
      scroll-snap-type: y mandatory;
  
      & > * {
        scroll-snap-align: start;
      }  
    }
  }

  &__Mode_Vertical {
    :global(.LayerItems) {
      overflow-y: auto;
      scroll-snap-type: y mandatory;
  
      & > * {
        scroll-snap-align: start;
      }  
    }
  }
}
