@import './mixins';

$top-bottom-margin-size: 8;

@mixin Leaf {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .Dimmer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-background-dimmer;
  }

  .Content {
    position: absolute;
    box-sizing: border-box;
    background-color: $color-background;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: vr($top-bottom-margin-size);
      background-color: $color-background;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: vr($top-bottom-margin-size);
      background-color: $color-background;
    }

    .Inner {
      padding: vr($top-bottom-margin-size) vr(8);
      overflow: auto;
    }
  }
}

.Leaf {
  @include Leaf;
}

:global(.__Playground) {
  .Leaf {
    position: absolute;
  }
}
