@import './mixins';

$children-spacing: vr(4);
$self-spacing: vr(8);
$vertical-set-link-height: vr(32);

@mixin Link {
  @include link-font-inherit;
  @include text-weight(m);

  position: relative;
  display: inline-flex;
  color: $color-primary;

  &:hover {
    color: $color-primary-hover;
  }

  &:active,
  &:focus {
    color: $color-primary-focus;
  }

  & + .Link {
    margin-left: vr(4);
  }

  & > * {
    & + * {
      margin-left: $children-spacing;
    }
  }
}

@mixin Set {
  display: block;

  .Link {
    @include text-weight(s);

    color: #000000;

    &:hover {
      color: #333333;
    }
  
    &:active,
    &:focus {
      color: #333333;
    }

    &__Active {
      @include text-weight(l);

      color: $color-primary;
    }
  }
}

.Link {
  @include Link;
}

.Set {
  @include Set;

  &__Left {
    margin: 0;
  }

  &__Right {
    margin-left: auto;
  }

  &__Center {
    margin: 0 auto;
  }

  &__Justify {
    &:not(.Set__Vertical) {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .Link {
        &:before {
          display: none;
        }
      }
    }
  }

  &__Separators {
    .Link {
      & + .Link {
        margin-left: vr(16);
  
        &:before {
          content: '|';
          position: absolute;
          left: vr(-11);
          display: block;
          font-size: vr(12);
          line-height: vr(32);
          pointer-events: none;
        }
      }
    }
  }

  &__Vertical {
    .Link {
      display: flex;
      align-items: center;
      line-height: $vertical-set-link-height;

      & + .Link {
        margin-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}
