@import './mixins';

@mixin list {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: vr(8) 0;
}

@mixin Item {
  display: flex;

  .Content {
    .Indicator {
      @include text(14, 24, s, $align: center);

      flex-grow: 0;
      flex-shrink: 0;
      margin-top: vr(-8);
      margin-bottom: vr(-8);
      width: vr(24);
      padding: vr(8) vr(8) vr(6);

      &.IndicatorIcon {
        margin-right: vr(4);
      }
    }
  }
}

@mixin Ordered {
  @include list;
}

@mixin Unordered {
  @include list;
}

.Item {
  @include Item;

  &__Border {
    .Content {
      .Indicator {
        border-right: $border;
      }
    }
  }

  &__Right {
    .Content {
      .Indicator {
        order: 1;
        border-right: 0;
        border-left: $border;
      }
    }
  }
}

.Ordered {
  @include Ordered;
}

.Unordered {
  @include Unordered;
}
