@import './mixins';

$loader-element-size: 18;
$loader-padding: 6;
$loader-size: $loader-element-size * 3 + $loader-padding * 4;
$first-row: $loader-padding;
$second-row: $loader-element-size + 2 * $loader-padding;
$third-row: 2 * $loader-element-size + 3 * $loader-padding;

@keyframes grid {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@mixin common-spinner {
  @include center(both);

  .Content {
    position: relative;
    margin: 0 auto;
    width: vr($loader-size);
    height: vr($loader-size);
  }

  .Message {
    @include text(14, 16, l, $align: center, $color: $color-primary);

    display: block;
    width: 100%;
    padding-top: vr(16);
  }
}

@mixin Loader {
  @include frame(absolute);
  @include z(Loader);
}

@mixin Spinner {
  @include common-spinner;

  .Content {
    div {
      position: absolute;
      border-radius: 50%;
      width: vr($loader-element-size);
      height: vr($loader-element-size);
      background: $color-primary;
      animation: grid 1200ms linear infinite;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(1) {
      top: vr($first-row);
      left: vr($first-row);
      animation-delay: 0ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(2) {
      top: vr($first-row);
      left: vr($loader-element-size + 2 * $loader-padding);
      animation-delay: -400ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(3) {
      top: vr($first-row);
      left: vr(2 * $loader-element-size + 3 * $loader-padding);
      animation-delay: -800ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(4) {
      top: vr($second-row);
      left: vr($first-row);
      animation-delay: -400ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(5) {
      top: vr($second-row);
      left: vr($second-row);
      animation-delay: -800ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(6) {
      top: vr($second-row);
      left: vr($third-row);
      animation-delay: -1200ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(7) {
      top: vr($third-row);
      left: vr($first-row);
      animation-delay: -800ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(8) {
      top: vr($third-row);
      left: vr($second-row);
      animation-delay: -1200ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(9) {
      top: vr($third-row);
      left: vr($third-row);
      animation-delay: -1600ms;
    }
  }
}

@mixin Upload {
  @include common-spinner;

  .Content {
    div {
      position: absolute;
      left: 0;
      height: vr(80);
      width: 100%;
      color: $color-primary;
      text-align: center;
      animation: grid 1200ms linear infinite;

      &:before {
        content: '\f077';
        position: absolute;
        left: 0;
        width: 100%;
        font: normal normal 900 vr(64) / vr(80) cfg('text.fonts.icons.family');
      }
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(1) {
      top: vr(-24);
      animation-delay: 0ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(2) {
      top: 0;
      animation-delay: -400ms;
    }

    /* stylelint-disable-next-line scss/selector-nest-combinators */
    div:nth-child(3) {
      top: vr(24);
      animation-delay: -800ms;
    }
  }
}

.Loader {
  @include Loader;
}

.Spinner {
  @include Spinner;
}

.Upload {
  @include Upload;
}
