@import './mixins';

@mixin full-width-fixed {
  position: fixed;
  right: 0;
  left: 0;
}

@mixin Main {
  min-height: 100vh;
  width: 100%;
  padding: 0;

  .Header {
    @include full-width-fixed;

    top: 0;
  }

  .Menu {
    @include full-width-fixed;
  }

  .Before {
    position: relative;
    width: 100%;
    padding: 0;

    &:empty {
      margin: 0;
      height: 0;
      padding: 0;
    }
  }

  .Content {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .Footer {
    @include full-width-fixed;

    bottom: 0;
  }
}

.Main {
  @include Main;
}

:global(.__Playground) {
  .Footer {
    position: absolute;
  }

  .Header {
    position: absolute;
  }

  .Menu {
    position: absolute;
  }
}
