@import './mixins';

@mixin Markdown {
  display: block;
  color: inherit;

  a {
    @include link-font-inherit;
  }

  p {
    margin: 0;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: inherit;
  }
}

.Markdown {
  @include Markdown;
}
