@import './mixins';

@mixin Menu {
  @include z(Menu);
  @include text(13, 32, xs);

  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  background-color: $color-background;
  overflow-y: auto;

  .Content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 vr(8);
    overflow-x: overlay;

    .Icon,
    .Image {
      align-self: center;
      padding: 0 vr(16);
    }

    .Link {
      align-self: center;
    }

    .LinkSet {
      padding-right: vr(8);
      padding-left: vr(8);
    }

    .Tabs {
      align-self: flex-end;
    }
  }
}

.Menu {
  @include Menu;

  &__Border {
    border-bottom: $border;
  }

  &__Bottom {
    .Content {
      align-items: flex-end;
    }
  }

  &__Center {
    .Content {
      justify-content: center;
    }
  }

  &__Justify {
    .Content {
      justify-content: space-between;
    }
  }

  &__Left {
    .Content {
      justify-content: flex-start;
    }
  }

  &__Middle {
    .Content {
      align-items: center;
    }
  }

  &__Right {
    .Content {
      justify-content: flex-end;
    }
  }

  &__Top {
    .Content {
      align-items: flex-start;
    }
  }
}
