@import './mixins';

@mixin Message {
  @include text(12, 24, s);

  flex-basis: 100%;
}

.Message {
  @include Message;

  &__Error {
    color: cfg('colors.messages.error');
  }

  &__Helper {
    color: cfg('colors.messages.helper');
  }

  &__Hint {
    color: cfg('colors.messages.hint');
  }

  &__Warning {
    color: cfg('colors.messages.warning');
  }

  &__Oneline {
    @include text-overflow;
  }
}
