@import './mixins';

$side-padding: vr(8);
$subtitle-shift: vr(-7);

@mixin Option {
  position: relative;
  display: flex;
  border: 0;
  width: 100%;
  padding: vr(1) 0;
  background-color: $color-background;
  outline: none;

  &:hover {
    background-color: #eeeeee;
  }

  & + .Option {
    border-top: 0;
  }

  .Content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 0;

    .Icon {
      flex-grow: 0;
      flex-shrink: 0;

      & + .Text {
        .Title {
          &:only-child {
            @include min-height(54);
          }
        }
      }
    }

    .Text {
      flex-grow: 1;
      box-sizing: border-box;
      width: 0;

      .Title {
        @include text(14, 38, s, $oneline: true);

        vertical-align: top;
        padding: 0 $side-padding;
      }

      .Subtitle {
        @include text(12, 24, xs, $oneline: true);

        position: relative;
        top: $subtitle-shift;
        vertical-align: top;
        flex-grow: 1;
        padding: 0 $side-padding;
      }
    }
  }

  .Action,
  .Arrow {
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto 0;
    cursor: pointer;
  }
}

@mixin Selectable {
  width: 100%;

  :global(.Control) {
    @include visually-hidden;
  }

  .Option {
    cursor: pointer;
  }
}

@mixin Item {
  width: 100%;
}

@mixin Group {
  width: 100%;
}

.Option {
  @include Option;

  &__Border {
    border: $border;
    padding: 0;
  }

  &__Disabled {
    @include disabled;
  }

  &__Center {
    .Content {
      .Icon {
        margin-left: $side-padding;
      }

      .Text {
        .Title {
          text-align: center;
        }

        .Subtitle {
          text-align: center;
        }
      }
    }
  }

  &__Justify {
    .Content {
      .Icon {
        margin-left: $side-padding;
      }
    }
  }

  &__Left {
    .Content {
      .Icon {
        margin-left: $side-padding;
      }
    }
  }

  &__Right {
    .Content {
      .Icon {
        order: 1;
        margin-right: $side-padding;
      }

      .Text {
        .Title {
          text-align: right;
        }

        .Subtitle {
          text-align: right;
        }
      }
    }
  }

  &__VerticalTop {
    .Content {
      .Icon {
        & + .Text {
          .Title {
            &:only-child {
              position: relative;
              top: vr(4);
              line-height: vr(32);
            }
          }
        }  
      }
    }
  }
}

.Selectable {
  @include Selectable;

  &__Focus {
    background-color: #eeeeee;
  }
}

.Item {
  @include Item;
}

.Group {
  @include Group;

  &__Border {
    @include border;
  }
}
