@import './mixins';

@mixin Page {
  @include border;
  @include focusable(true);
  @include hoverable(true);
  @include text(14, 30, m, $align: center);

  flex: 0 0 32px;
  box-sizing: border-box;
  width: 32px;
  text-decoration: none;
  cursor: pointer;

  & + .Page {
    border-left: 0;
  }
}

@mixin PagerNavigation {
  display: flex;
  width: 100%;
  padding: vr(8) 0;
}

.PagerNavigation {
  @include PagerNavigation;

  &__Center {
    justify-content: center;
  }

  &__Justify {
    width: 100%;

    .Page {
      flex-grow: 1;
    }
  }

  &__Left {
    justify-content: flex-start;
  }

  &__Right {
    justify-content: flex-end;
  }
}

.Page {
  @include Page;

  &__Current {
    background-color: $color-primary;
    color: $color-font-inverted;

    &:focus {
      background-color: $color-primary-focus;
      color: $color-font-inverted;
    }

    &:hover {
      background-color: $color-primary-hover;
      color: $color-font-inverted;
    }
  }

  &__Divider {
    cursor: default;

    &:focus,
    &:hover {
      background-color: initial;
      color: initial;
    }
  }

  &__Disabled {
    @include disabled(true);
  }
}
