@import './mixins';

@mixin Pane {
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  background-color: cfg('colors.background.pane.normal');
  overflow: auto;

  .Content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: vr(8);

    .Close {
      @include size(16);

      position: absolute;
      top: vr(8);
      right: vr(8);
    }
  }
}

@mixin Menu {
  .Content {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    max-width: vr(cfg('breakpoints.desktop.contentWidth') + 2 * cfg('breakpoints.desktop.sidePadding'));
    padding: vr(8) vr(cfg('breakpoints.desktop.sidePadding'));
  }
}

.Pane {
  @include Pane;

  &__Border {
    border-bottom: $border;
  }
}

.Menu {
  @include Menu;
}
