@import './mixins';

$title-height: 40;

@mixin Panels {
  @include text(14, 20, xs, $align: left);

  box-sizing: border-box;
  padding: vr(8) 0;
}

@mixin Panel {
  box-sizing: border-box;
  overflow: hidden;

  &:first-child {
    border-radius: $border-radius $border-radius 0 0;

    .Title {
      border-top: 0;
    }
  }

  .Content {
    box-sizing: border-box;
    height: 0;
    padding: 0 vr(16);
    overflow: hidden;
  }

  .Title {
    display: flex;
    border: 0;
    border-top: $border;
    width: 100%;
    height: vr($title-height);
    padding: 0;
    cursor: pointer;

    .Text {
      @include text(13, $title-height - 1, m, $oneline: true);

      flex: 1 0 0;

      &:first-child {
        padding-left: vr(16);
      }
    }

    .Icon {
      position: relative;
      top: vr(-1);

      &:first-child {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: vr(8);
      }

      &:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: vr(8);
      }
    }
  }
}

.Panels {
  @include Panels;
}

.Panel {
  @include Panel;

  &:not(.Panel__Open) {
    &:last-child {
      .Title {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  &__Open {
    &:last-child {
      .Content {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }

    .Content {
      height: auto;
      padding: vr(16);
    }
  }
}
