@import './mixins';

@mixin wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Inner {
    border-color: $color;
  }

  .Item {
    border-left-color: $color;
  }
}

@mixin icons-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  padding: vr(7) 0;

  .Inner {
    .IconsItem {
      border: $border-width solid $color;
    }
  }
}

@mixin Item {
  position: relative;
  box-sizing: border-box;
  background-color: cfg('colors.background.common.normal');
  cursor: pointer;

  & + .Item {
    border-left: $border;
  }

  :global(.Control) {
    @include visually-hidden;

    &:focus {
      & + .Label {
        @include focused;
      }
    }
  }

  .Label {
    @include text(13, 38, s, $align: center);
  }
}

@mixin Picker {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: vr(4) 0;

  .Inner {
    @include border;

    display: flex;
    flex: 0 0 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  :global(.Required) {
    top: 0;
    right: vr(-5);
  }
}

@mixin IconsItem {
  flex-basis: vr(32);
  border: 0;
  border-radius: 50%;
  width: vr(32);
  height: vr(32);
  background-color: inherit;
  overflow: hidden;

  & + & {
    border-left: 0;
  }

  .Content {
    @include text(13, 32, m);
  }
}

@mixin Icons {
  padding: vr(8) 0;

  .Inner {
    border: 0;
  }

  :global(.Required) {
    top: 0;
    left: vr(-5);
  }
}

.Item {
  @include Item;

  &:not(.Item__Disabled) {
    .Label {
      @include hoverable;
    }
  }

  &__Disabled {
    @include disabled(true);
  }

  &__Selected {
    &:not(.Item__Disabled) {
      .Label {
        @include accent-background-primary;

        &:hover {
          @include accent-background-primary-hover;
        }
      }

      :global(.Control) {
        &:active,
        &:focus {
          & + .Label {
            @include accent-background-primary-focus;
          }
        }
      }
    }

    &.Item__Disabled {
      .Label {
        background-color: cfg('colors.controls.disabledAccent.border');
        color: cfg('colors.controls.disabledAccent.font');
      }
    }
  }
}

.Picker {
  @include Picker;

  &__Disabled {
    .Inner {
      @include disabled(true);
    }
  }

  &__Error {
    @include wrapper-with-message(error);
  }

  &__Focus {
    .Inner {
      @include focused(false);
    }
  }

  &__Hint {
    @include wrapper-with-message(hint);
  }

  &__Warning {
    @include wrapper-with-message(warning);
  }

  @for $i from 1 through 12 {
    $width: percentage(1 / $i);

    &__Size_#{$i} {
      .Item {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $width;
        width: $width;  
      }
    }
  }

  &__Size_0 {
    flex-grow: 1;
  }
}

.IconsItem {
  @include IconsItem;
}

.Icons {
  @include Icons;

  &__Border {
    padding: vr(7) 0;

    .IconsItem {
      border: $border;
    }
  }

  &__Center {
    .Inner {
      justify-content: center;

      .IconsItem {
        margin: 0 vr(8);
      }
    }
  }

  &__Justify {
    .Inner {
      justify-content: space-between;
    }
  }

  &__Left {
    .Inner {
      justify-content: flex-start;

      .IconsItem {
        & + .IconsItem {
          margin-left: vr(16);
        }
      }
    }
  }

  &__Right {
    .Inner {
      justify-content: flex-end;

      .IconsItem {
        & + .IconsItem {
          margin-left: vr(16);
        }
      }
    }
  }

  &__Disabled {
    .Inner {
      background-color: inherit;
    }
  }

  &__Focus {
    .Inner {
      box-shadow: none;

      .IconsItem {
        @include focused(false);
      }
    }
  }

  &__Error {
    @include icons-with-message(error);
  }

  &__Hint {
    @include icons-with-message(hint);
  }

  &__Warning {
    @include icons-with-message(warning);
  }
}
