@import './mixins';

@mixin Pill {
  position: relative;
  border: 0;
  padding: 0;

  .Inner {
    @include border;
    @include text(12, 24, s);

    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0;

    .Content {
      @include text(12, 24, s);

      margin: vr(-1) 0;
      padding: 0 vr(4);
    }

    .Handle {
      flex-grow: 0;
      flex-shrink: 0;
      margin: vr(-1) 0;
      border-right: $border;
      padding: 0;
    }

    .Icon {
      margin: vr(-1) 0;
      padding: 0;
    }

    .Action {
      flex-grow: 0;
      flex-shrink: 0;
      margin: vr(-1) 0;
      border-left: $border;
      padding: 0;
    }
  }
}

.Pill {
  @include Pill;

  & + .Pill {
    margin-left: vr(4);
  }
}
