@import './mixins';

$label-height: 24;

@mixin Label {
  @include text(12, $label-height, l);

  display: block;
  box-sizing: border-box;
  height: vr($label-height);
  padding: 0 vr(16);
  background-color: #cccccc;

  & + .Content {
    height: calc(100% - #{vr($label-height)});
  }
}

@mixin Example {
  .Content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    & > * {
      align-self: auto;
    }
  }
}

@mixin Section {
  @include z(Zero);

  width: 100%;

  .Panes {
    .Label {
      background-color: $color-border;
      color: $color-font;
    }
  }

  .FrameWrapper {
    @include z(Common);

    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: vr(8);
    background-image: url('../assets/images/transparent-background.svg');
    background-size: vr(16);
    background-repeat: repeat;

    .Frame {
      @include border;
      @include shadow(elevation, rgba(0, 0, 0, 0.1));
      @include z(Zero);

      display: block;
      box-sizing: content-box;
      width: 100%;
      min-width: vr(240);
      max-width: 100%;
      height: 100%;
      min-height: vr(240);
      max-height: 100%;
      background-color: $color-background;
      overflow: auto;
    }
  }
}

@mixin Playground {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .Title {
    @include z(Common);

    position: fixed;
    right: 0;
    left: 0;

    & + * {
      margin-top: vr(24);
    }
  }

  .Panes,
  .Title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .Label {
      @include text(12, 23, m, $align: center, $oneline: true);
      @include z(Significant);

      position: relative;
      display: block;
      align-self: flex-start;
      box-sizing: border-box;
      border-bottom: $border;
      width: 100%;
      height: vr(24);
      padding: 0 vr(16);
      background-color: $color-primary;
      color: $color-font-inverted;
    }
  }
}

.Playground {
  @include Playground;
}

.Label {
  @include Label;
}

.Example {
  @include Example;

  &__Center {
    .Label {
      text-align: center;
    }
  }
}

.Section {
  @include Section;
}
