@import './mixins';

@mixin percent {
  @include shadow(small, $color: rgba(0, 0, 0, 0.1));
  @include transition(width);

  height: 100%;
}

@mixin Bar {
  flex-grow: 1;
  align-self: flex-start;
  padding: vr(8) 0;

  .Content {
    position: relative;
    left: 0;
    box-sizing: border-box;
    border: $border;
    width: 100%;
    height: vr(24);
    background-color: $color-background;

    .Label {
      @include min-height(20);
      @include frame(absolute);

      span {
        @include center(both);
        @include text(10, 16, l, $oneline: true);

        box-sizing: border-box;
        border-radius: $border-radius;
        padding: 0 vr(8);
        background-color: $color-background;
      }
    }

    .Percent {
      @include percent;
    }
  }
}

@mixin Circle {
  @include inline-block;

  margin: vr(8);
  width: vr(120);
  height: vr(120);

  .Background {
    fill: transparent;
    stroke: $color-border;
    stroke-width: 10;
  }

  .Percent {
    fill: transparent;
    stroke-width: 10;
  }

  .Label {
    @include text-weight(l);

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: vr(120);
    text-align: center;
  }
}

@mixin Line {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: vr(4);
  visibility: visible;

  .Percent {
    @include percent;
  }
}

@mixin SemiCircle {
  @include inline-block;

  margin: vr(8);
  width: vr(120);
  height: vr(60);

  .Background {
    fill: transparent;
    stroke: $color-border;
    stroke-width: 10;
  }

  .Percent {
    fill: transparent;
    stroke-width: 10;
  }

  .Label {
    @include text-weight(l);

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: vr(96);
    text-align: center;
  }
}

.Bar {
  @include Bar;
}

.Circle {
  @include Circle;
}

.Line {
  @include Line;

  &__Hidden {
    visibility: hidden;
  }
}

.SemiCircle {
  @include SemiCircle;
}
