@import './mixins';

@mixin PropList {
  padding: 0 vr(8);

  .Title {
    @include text(20, 32, xl);

    padding: vr(4) 0;
  }

  .Description {
    @include text(13, 24, xs);

    padding: 0 0 vr(4) 0;
  }

  .Props {
    margin: 0;
    padding: 0 vr(8);
  }
}

@mixin Prop {
  display: flex;
  flex-wrap: wrap;
  padding: vr(4) 0;

  .Name {
    @include text(14, 24, l);
  }

  .Kind {
    @include text(10, 16, m);
    @include border;

    margin: vr(4) 0 vr(4) vr(8);
    padding: 0 vr(2);
    color: $color-font-inverted;
  }

  .Type {
    @include text(12, 24, m, $color: $color-font-semi);

    margin-left: vr(8);

    &:before {
      content: '[';
      display: inline;
      padding-right: vr(4);
    }

    &:after {
      content: ']';
      display: inline;
      padding-right: vr(4);
      padding-left: vr(4);
    }
  }

  .Default {
    @include text(12, 24, xs);

    margin-left: vr(8);

    &:before {
      @include text-weight(m);

      content: 'default:';
      display: inline;
      padding-right: vr(4);
    }
  }

  .Description {
    flex: 0 0 100%;
  }
}

.PropList {
  @include PropList;
}

.Prop {
  @include Prop;

  &__Required {
    .Name {
      &:after {
        content: '*';
        display: inline;
        padding-left: vr(4);
        color: cfg('colors.messages.required');
      }
    }
  }

  &__Prop {
    .Kind {
      background-color: #448844;
    }
  }

  &__EventHandler {
    .Kind {
      background-color: #6699cc;
    }
  }
}
