@import './mixins';

$input-height: 40;

@mixin with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Dummy {
    border-color: $color;
  }
}

@mixin Radio {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0;
  padding: vr(16) 0;

  :global(.Control) {
    @include visually-hidden;

    &:focus {
      & + .Dummy {
        @include focused(false);
      }
    }

    &:disabled {
      & + .Dummy {
        @include disabled;

        .Icon {
          @include disabled;
        }
      }
    }
  }

  .Dummy {
    @include border;
    @include clickable;
    @include size(16);

    box-sizing: border-box;
    border-radius: 50%;
    padding: vr(1);
    overflow: hidden;
    outline: none;
    box-shadow: none;
    resize: none;

    .Icon {
      position: relative;
      top: vr(-1);
      left: vr(-1);
      border-radius: inherit;
      background-color: $color-primary;
      color: cfg('text.colors.inverted');
    }
  }

  :global(.Message) {
    position: relative;
  }

  :global(.Required) {
    top: vr(6);
    left: vr(16);
  }
}

@mixin Item {
  display: flex;
  align-items: center;

  .Label {
    @include text(12, 24, xs);

    flex-grow: 1;
  }

  .Radio {
    flex-grow: 0;
    flex-shrink: 0;
    padding: vr(8) vr(16);
  }
}

@mixin Group {
  position: relative;
  width: 100%;
}

.Radio {
  @include Radio;

  &__Disabled {
    .Dummy {
      @include disabled;

      .Icon {
        @include disabled;
      }
    }
  }

  &__Error {
    @include with-message(error);
  }

  &__Focus {
    .Dummy {
      @include focused(false);
    }
  }

  &__Hint {
    @include with-message(hint);
  }

  &__Warning {
    @include with-message(warning);
  }

  &__Hidden {
    @include visually-hidden;
  }

  &__Pull {
    flex: 0 0 vr(320);
    justify-content: flex-end;
    padding-right: vr(8);

    :global(.Message) {
      text-align: right;
    }

    :global(.Required) {
      top: vr(6);
      left: vr(312);
    }
  }
}

.Item {
  @include Item;
}

.Group {
  @include Group;

  &__Error {
    .Item {
      .Radio {
        @include with-message(error);
      }
    }
  }

  &__Hint {
    .Item {
      .Radio {
        @include with-message(hint);
      }
    }
  }

  &__Warning {
    .Item {
      .Radio {
        @include with-message(warning);
      }
    }
  }

  &__Center {
    .Item {
      justify-content: center;

      .Label {
        flex-grow: 0;
        order: 2;
        padding-right: vr(16);
      }

      .Radio {
        order: 1;
      }
    }

    :global(.Message) {
      display: block;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
    }

    :global(.Required) {
      top: vr(-6);
      left: 50%;
    }
  }

  &__Justify,
  &__Left {
    .Item {
      .Label {
        order: 2;
        padding-right: vr(16);
      }

      .Radio {
        order: 1;
      }
    }

    :global(.Message) {
      padding-left: vr(16);
    }

    :global(.Required) {
      top: vr(-6);
      left: vr(-4);
    }
  }

  &__Right {
    .Item {
      .Label {
        order: 1;
        padding-left: vr(16);
        text-align: right;
      }

      .Radio {
        order: 2;
      }
    }

    :global(.Message) {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding-right: vr(16);
      text-align: right;
    }

    :global(.Required) {
      top: vr(-6);
      right: vr(-4);
    }
  }
}

