@import './mixins';

$size: 32;
$fa-var-star: '\f005';
$fa-var-star-half: '\f089';

@mixin Section {
  @include size($size);
}

@mixin Rating {
  position: relative;
  width: 100%;
  padding: vr(8) vr(4);

  .HoverSurface {
    display: flex;
    min-height: vr($size);

    .Section {
      color: $color-font;
      text-decoration: none;

      .Icon {
        color: #dadada;

        i {
          @include text-weight(xs);
        }
      }

      &__Hovering {
        .Icon {
          color: #ffd102;
        }
      }

      &__Selected {
        .Icon {
          color: #ffd102;

          i {
            @include text-weight(xl);
          }
        }
      }
    }
  }

  .Required {
    top: vr(2);
  }

  .Message {
    display: block;
  }
}

@mixin Numbers {
  .HoverSurface {
    .Section {
      box-sizing: border-box;
      padding: vr(4);

      .Number {
        @include border;
        @include text(12, 20, xs, $align: center);

        position: relative;
        display: block;
        box-sizing: border-box;
        border-width: vr(2);
        border-radius: 50%;
        width: vr(24);
        height: vr(24);
      }

      &__Hovering {
        .Number {
          border-color: #ffd102;
        }
      }

      &__Selected {
        .Number {
          @include text-weight(m);

          border-color: #ffd102;
          background-color: #ffd102;
          color: $color-font-inverted;
        }
      }
    }
  }
}

@mixin Stars {
  .HoverSurface {
    .Section {
      .Star {
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden;

        &:before {
          @include text-weight(xs);

          content: $fa-var-star;
          position: absolute;
          top: 0;
          left: 0;
          width: vr(32);
          font-family: cfg('text.fonts.icons.family');
          font-size: vr(22);
          color: #dadada;
          line-height: vr(32);
          text-align: center;
        }
      }

      &__Hovering {
        .Star {
          &:before {
            color: #ffd102;
          }
        }
      }

      &__Selected {
        .Star {
          &:before {
            @include text-weight(xl);

            color: #ffd102;
          }
        }
      }
    }
  }

  .Required {
    top: vr(4);
  }
}

.Section {
  @include Section;
}

.Rating {
  @include Rating;

  &__Center {
    .HoverSurface {
      justify-content: center;
    }

    .Required {
      left: 50%;
      transform: translateX(-50%);
    }

    .Message {
      text-align: center;
    }
  }

  &__Left {
    .HoverSurface {
      justify-content: flex-start;
    }

    .Required {
      left: 0;
    }
  }

  &__Justify {
    width: 100%;

    .HoverSurface {
      justify-content: space-between;
    }

    .Required {
      left: 0;
    }
  }

  &__Right {
    .HoverSurface {
      justify-content: flex-end;
    }

    .Required {
      right: 0;
    }

    .Message {
      text-align: right;
    }
  }
}

.Numbers {
  @include Numbers;

  &.Rating__Disabled {
    .HoverSurface {
      .Section {
        &__Selected {
          .Number {
            border-color: #dadada;
            background-color: #dadada;
            color: $color-font-inverted;
          }
        }
      }
    }
  }
}

.Stars {
  @include Stars;

  &__Halves {
    .HoverSurface {
      .Section {
        width: vr($size / 2);

        &:nth-child(odd) {
          .Star {
            &:before {
              left: vr(4);
            }
          }
        }

        &:nth-child(even) {
          .Star {
            &:before {
              left: vr(-4);
              transform: scaleX(-1);
            }
          }
        }

        .Star {
          &:before {
            content: $fa-var-star-half;
            width: vr($size / 2);
          }
        }
      }
    }

    &.Rating__Justify {
      .HoverSurface {
        .Section {
          &:nth-child(2n + 3) {
            margin-left: auto;
          }

          &:nth-child(2n + 2) {
            margin-right: auto;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .Required {
        left: vr(4);
      }
    }
  }

  &.Rating__Left {
    .Required {
      left: vr(4);
    }
  }

  &.Rating__Right {
    .Required {
      right: vr(4);
    }
  }

  &.Rating__Disabled {
    .HoverSurface {
      .Section {
        &__Selected {
          .Star {
            &:before {
              color: #dadada;
            }
          }
        }
      }
    }
  }
}
