@import './mixins';

$size: 12;

@mixin Required {
  @include text-weight(l);

  position: absolute;
  border-radius: 50%;
  width: vr($size);
  height: vr($size);
  background-color: cfg('colors.messages.required');
  font-size: vr(14);
  color: cfg('text.colors.inverted');
  line-height: vr(15);
  text-align: center;
}

.Required {
  @include Required;
}
