@import './mixins';

@mixin Section {
  @include text(13, 24, xs);

  width: 100%;
  padding: vr(8);

  .Title {
    @include text(14, 24, m);

    padding: vr(4) vr(8) vr(4) 0;
  }

  .Content {
    position: relative;
  }
}

.Section {
  @include Section;

  &__Border {
    @include border;
  }
}
