@import './mixins';

@mixin wrapper-with-message($color) {
  .Inner {
    border-color: $color;
  }
}

@mixin Item {
  border-color: transparent;
  width: 100%;

  &:not(.Selected) {
    .Option {
      box-sizing: border-box;
      border-style: solid;
      border-color: transparent;
      border-top-width: $border-width;
      border-bottom-width: 0;
    }
  }

  & + .Item {
    &:not(.Selected) {
      .Option {
        border-top-color: #eaeaea;
      }
    }
  }

  .Option {
    padding: 0;
    cursor: pointer;

    & > div {
      padding: 0 0 vr(1) 0;
    }
  }

  :global(.Control) {
    @include visually-hidden;

    &:focus {
      + .Option {
        background-color: #eeeeee;
      }
    }
  }
}

@mixin Select {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  padding: vr(4) 0;

  .Inner {
    @include border;
    @include focusable;

    position: relative;
    flex: 0 0 100%;
    box-sizing: border-box;
    cursor: pointer;

    .Empty {
      @include hoverable(true);

      cursor: pointer;
    }

    .Group {
      @include hoverable(true);

      cursor: pointer;
    }

    .Selected {
      border: 0;
      cursor: pointer;

      & + .Selected {
        border-top: $border;
      }
    }
  }

  :global(.LayerCover) {
    width: 100%;
  }

  :global(.Required) {
    top: 0;
    right: vr(-6);
  }
}

.Item {
  @include Item;

  &__Disabled {
    .Option {
      cursor: inherit;
    }
  }
}

.Select {
  @include Select;

  &__Open {
    @include z(OpenLayer);
  }

  &__Disabled {
    .Inner {
      cursor: default;

      .Empty {
        cursor: default;
      }

      .Group {
        cursor: default;
      }

      .Selected {
        cursor: default;

        .Option {
          cursor: inherit;
        }
      }
    }
  }

  &__Error {
    @include wrapper-with-message(cfg('colors.messages.error'));
  }

  &__Focus {
    .Inner {
      @include focused(true);
    }
  }

  &__Hint {
    @include wrapper-with-message(cfg('colors.messages.hint'));
  }

  &__Warning {
    @include wrapper-with-message(cfg('colors.messages.warning'));
  }
}
