@import './mixins';

@mixin Separator {
  display: flex;
  flex: 1 0 100%;
  flex-grow: 1;
  align-items: center;
  align-self: center;
  height: vr(40);

  .Line {
    flex-grow: 1;
    margin: 0 vr(8);
    min-width: vr(8);
  }

  .Content {
    @include text(11, 16, xs);

    position: relative;
  }
}

.Separator {
  @include Separator;

  &__Inline {
    flex: 0 0 vr(8);
  }

  &__Narrow {
    height: vr(24);
  }
}
