@import './mixins';

$input-height: 40;

@mixin padding-mask {
  @include z(Common);

  content: "";
  position: absolute;
  right: vr(8);
  left: vr(1);
  height: vr(7);
  background-color: #ffffff;
  cursor: text;
}

@mixin with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Border {
    border-color: $color;

    .Icon {
      border-right-color: $color;
      color: $color;
    }

    .Actions {
      .Action {
        color: $color;
      }
    }
  }
}

@mixin Set {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0;
  padding: vr(4) 0;

  .Before {
    @include padding-mask;

    top: vr(5);
  }

  .After {
    @include padding-mask;

    bottom: vr(5);
  }

  .Border {
    @include border;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: vr(38);
    width: 100%;
    background-color: #ffffff;
    cursor: text;

    .Input {
      @include text(14, 24, s);

      flex-grow: 1;
      flex-basis: 0;
      border: 0;
      min-width: vr(40);
      padding: vr(7) 0 vr(7) vr(8);
      outline: none;
    }

    .Selected {
      order: 0;
      margin: vr(6) 0 vr(6) vr(8);
    }

    .Control {
      @include text(14, 24, s);

      flex-grow: 1;
      order: 1;
      border: 0;
      width: vr(120);
      padding: vr(7) vr(7);
      outline: none;
      box-shadow: none;
      resize: none;

      &:active,
      &:focus {
        border: 0;
      }
    }

    .Icon {
      position: absolute;
      left: 0;
      box-sizing: border-box;
      border-right: $border;
      border-radius: $border-radius 0 0 $border-radius;
      width: vr(38);
      height: 100%;
      line-height: vr(38);
    }

    .Actions {
      @include text(12, 38, s);

      position: absolute;
      right: 0;
      display: flex;

      &:empty {
        display: none;
      }

      .Action {
        position: relative;
        flex: 0 0 vr(38);
        width: vr(38);
        height: 100%;
        color: $color-font-semi;
        line-height: vr(38);
      }

      .Clear {
        position: relative;
        flex: 0 0 vr(38);
        width: vr(38);
        height: 100%;
        color: $color-font-semi;
        line-height: vr(38);

        & + .Action {
          margin-left: 0;
        }
      }
    }
  }

  .Message {
    position: relative;
  }

  .Required {
    top: 0;
    right: vr(-5);
  }
}

.Set {
  @include Set;

  &__Disabled {
    .Border {
      @include disabled;
    }
  }

  &__Error {
    @include with-message(error);
  }

  &__Focus {
    .Border {
      @include focused(false);
    }
  }

  &__Hint {
    @include with-message(hint);
  }

  &__Warning {
    @include with-message(warning);
  }

  &__Hidden {
    @include visually-hidden;
  }

  &__WithAction {
    .Border {
      padding-right: vr(38);
    }
  }

  &__WithClear {
    .Border {
      padding-right: vr(38);
    }

    &.Set__WithAction {
      .Border {
        padding-right: vr(2 * 38);
      }
    }
  }

  &__WithIcon {
    .Border {
      padding-left: vr(38);
    }
  }

  &__Placeholder {
    .Border {
      .Control {
        color: cfg('colors.messages.placeholder');
      }
    }
  }
}
