@import './mixins';

@mixin Shirt {
  position: relative;
  display: inline-block;

  .Content {
    position: relative;

    .Svg {
      width: 100%;
      height: 100%;
    }
  }
}

.Shirt {
  @include Shirt;
}
