@import './mixins';

$fa-var-exclamation: '\f12a';
$fa-var-info: '\f129';
$fa-var-link: '\f0c1';
$fa-var-quote-right: '\f10e';

@mixin anchor {
  @include link-font-inherit;
  @include text-weight(l);

  display: inline-block;
  margin-bottom: vr(8);
}

@mixin text-block($kind, $char: '') {
  $background: cfg('colors.boxes.' + $kind + '.background');
  $border: cfg('colors.boxes.' + $kind + '.border');
  $font: cfg('colors.boxes.' + $kind + '.font');

  @include text-style(block);

  position: relative;
  flex-grow: 1;
  border: $border-width solid $border;
  border-left: vr(8) solid $border;
  width: auto;
  background-color: $background;
  color: $font;

  @if ($char) {
    &:before {
      content: $char;
      position: absolute;
      top: 0;
      left: vr(-80);
      width: vr(48);
      font: normal normal 900 vr(40) / vr(70) cfg('text.fonts.icons.family');
      color: $border;
      text-align: center;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin: 0;
  }

  @include respond-below(tablet) {
    margin: vr(12) vr(8);

    &:before {
      top: vr(4);
      left: vr(4);
      width: vr(24);
      font-size: vr(24);
    }
  }

  @include respond-below(phoneM) {
    margin: vr(8) 0;
    padding: vr(12);

    &:before {
      top: vr(2);
      left: vr(2);
      width: vr(12);
      font-size: vr(12);
    }
  }
}

@mixin Info {
  @include text-block(info, $fa-var-info);
}

@mixin Link {
  @include text-block(link, $fa-var-link);

  .Anchor {
    @include anchor;

    &:only-child {
      margin-bottom: 0;

      &:active,
      &:hover,
      &:visited {
        margin-bottom: 0;
      }
    }

    &:active,
    &:hover,
    &:visited {
      @include anchor;
    }

    &:before {
      @include text(14, 16, m, $color: cfg('colors.boxes.link.border'), $font: icons);

      content: '\f0c1';
      margin-right: vr(5);
    }
  }

  .Text {
    hr {
      border: 0;
    }
  }

  @include respond-below(tablet) {
    &:before {
      display: none;
    }
  }
}

@mixin Quote {
  @include text-block(quote, $fa-var-quote-right);

  .AuthorSource {
    padding-top: vr(16);
    font-style: italic;
    text-align: right;

    &:empty {
      display: none;
    }

    .Author {
      @include text-weight(l);
    }

    .Source {
      margin-left: vr(8);
    }
  }

  .Text {
    hr {
      border: 0;
    }
  }

  @include respond-below(tablet) {
    .AuthorSource {
      padding-top: vr(12);
    }
  }

  @include respond-below(phoneM) {
    .AuthorSource {
      padding-top: vr(4);
    }
  }
}

@mixin Warning {
  @include text-block(warning, $fa-var-exclamation);
}

@mixin Well {
  @include text-block(well);

  margin-left: vr(24);
  border-left-width: $border-width;
}

.Info {
  @include Info;
}

.Link {
  @include Link;
}

.Quote {
  @include Quote;
}

.Warning {
  @include Warning;
}

.Well {
  @include Well;
}
