@import './mixins';

@mixin wrappper-with-message($color) {
  .Content {
    .Track {
      border-color: $color;

      .HandleWrapper {
        .Handle {
          border-color: $color;
        }
      }
    }
  }

  .Input {
    input {
      border-color: $color;
    }
  }
}

@mixin Handle {
  @include min-height(16);

  position: absolute;
  top: vr(-6);
  margin-left: vr(-8);
  border: $border;
  border-radius: 50%;
  width: vr(16);
  padding: 0;
  background-color: $color-background;
}

@mixin Slider {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0;

  & > :global(.Control) {
    @include visually-hidden;
  }

  .Content {
    @include min-height(40);

    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    padding: vr(6) vr(12) vr(2);

    .Track {
      @include height(6);

      position: relative;
      box-sizing: border-box;
      margin: vr(16) 0 vr(10);
      border: $border;
      border-radius: $border-radius;
      width: 100%;

      .HandleWrapper {
        width: 100%;
        height: 100%;
      }
    }
  }

  .Input {
    flex-grow: 0;
    width: vr(48);

    input {
      text-align: center;
    }
  }

  :global(.Required) {
    top: vr(3);
    right: vr(-1);
  }

  :global(.Message) {
    padding: 0 vr(12);
  }
}

.Handle {
  @include Handle;
}

.Slider,
.Range {
  @include Slider;

  &__Disabled {
    .Track {
      @include disabled;
    }

    .Handle {
      @include disabled;
    }
  }

  &__Error {
    @include wrappper-with-message(cfg('colors.messages.error'));
  }

  &__Focus {
    .Track {
      @include focused;
    }

    .Handle {
      @include focused;
    }
  }

  &__Hint {
    @include wrappper-with-message(cfg('colors.messages.hint'));
  }

  &__Warning {
    @include wrappper-with-message(cfg('colors.messages.warning'));
  }

  &__WithInput {
    .Slider {
      padding-right: vr(24);
    }
  }
}
