@import './mixins';

@mixin Status {
  @include text(14, 24, xs);

  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: vr(12) 0;

  .Label {
    padding: 0 vr(8);
    text-align: inherit;
  }

  .Checkbox {
    @include border;
    @include size(16);

    position: relative;
    top: vr(3);
    flex: 0 0 vr(16);
    align-self: flex-start;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    resize: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      font: normal normal 900 vr(8) / vr(14) cfg('text.fonts.icons.family');
      color: $color-font-inverted;
      text-align: center;
    }
  }
}

.Status {
  @include Status;

  &__Active {
    .Checkbox {
      background-color: #1b88de;

      &:before {
        content: '\f110';
      }
    }
  }

  &__Blocked {
    .Checkbox {
      background-color: #ca1111;

      &:before {
        content: '\f05e';
      }
    }

    .Label {
      @include text-weight(m);

      color: #ca1111;
    }
  }

  &__Current {
    .Checkbox {
      background-color: #1b88de;

      &:before {
        content: '\f054';
      }
    }

    &.Item__Right {
      .Checkbox {
        &:before {
          content: '\f053';
        }
      }
    }
  }

  &__Done {
    .Checkbox {
      background-color: #34af39;

      &:before {
        content: '\f00c';
      }
    }
  }

  &__Error {
    .Checkbox {
      background-color: #ca1111;

      &:before {
        content: '\f12a';
      }
    }

    .Label {
      @include text-weight(m);

      color: #ca1111;
    }
  }

  &__Waiting {
    .Checkbox {
      background-color: #e2e2e2;

      &:before {
        content: '\f04c';
      }
    }
  }
}
