@import './mixins';

@mixin triangle($height, $width, $color) {
  position: absolute;
  left: 0;
  display: inline-block;
  border-width: vr($height / 2) 0 vr($height / 2) vr(width);
  border-style: solid;
  border-color: transparent transparent transparent $color;
  width: 0;
  height: 0;
}

@mixin Triangle {
  position: absolute;
  top: 0;
  left: 100%;

  .Body {
    @include triangle(30, 15, $color-background);
    @include z(Common);
  }

  .Border {
    @include triangle(32, 16, $color-border);
    @include z(Zero);
  }
}

@mixin Step {
  position: relative;
  box-sizing: border-box;
  height: vr(32);
  padding: vr(4) vr(16) vr(4);
  font-size: vr(14);
  line-height: vr(24);

  &:last-child {
    .Triangle {
      display: none;
    }
  }

  &:nth-child(odd) {
    background-color: #ffffff;

    .Triangle {
      .Body {
        border-left-color: #ffffff;
      }
    }
  }

  &:nth-child(even) {
    background-color: #f8f8f8;

    .Triangle {
      .Body {
        border-left-color: #f8f8f8;
      }
    }
  }

  &:not(:first-child) {
    padding-left: vr(32);
  }
}

@mixin Steps {
  position: relative;
  display: flex;
  width: 100%;
  padding: vr(8) 0;

  .Triangle {
    .Body {
      top: vr(1);
    }

    .Border {
      display: none;
    }
  }
}

.Triangle {
  @include Triangle;
}

.Steps {
  @include Steps;

  &__Border {
    .Step {
      border-top: $border;
      border-bottom: $border;
      padding: vr(4) vr(16) vr(2);

      &:first-child {
        border-left: $border;
      }

      &:last-child {
        border-right: $border;
      }

      .Triangle {
        .Body {
          top: 0;
        }

        .Border {
          top: vr(-1);
          display: block;
        }
      }
    }
  }

  &__LastArrow {
    .Step {
      &:last-child {
        .Triangle {
          display: block;
        }
      }
    }

    &.Steps__Right {
      padding-right: vr(16);
    }

    &.Steps__Justify {
      padding-right: vr(16);
    }
  }

  &__Center {
    justify-content: center;
  }

  &__Justify {
    padding: vr(8) 0;

    .Step {
      flex: 1 0 0;
    }
  }

  &__Left {
    justify-content: flex-start;
  }

  &__Right {
    justify-content: flex-end;
  }
}

.Step {
  @include Step;

  &__Active {
    &:nth-child(odd),
    &:nth-child(even) {
      background-color: $color-primary;
      color: $color-font-inverted;

      &:hover {
        background-color: $color-primary-hover;

        .Triangle {
          .Body {
            border-left-color: $color-primary-hover;
          }
        }
      }

      &:focus {
        background-color: $color-primary-focus;

        .Triangle {
          .Body {
            border-left-color: $color-primary-focus;
          }
        }
      }

      .Triangle {
        .Body {
          border-left-color: $color-primary;
        }
      }
    }
  }

  &__Disabled {
    &:nth-child(odd),
    &:nth-child(even) {
      background-color: cfg('colors.controls.disabled.background');

      &:hover,
      &:focus {
        background-color: cfg('colors.controls.disabled.background');
      }

      .Triangle {
        .Body {
          border-left-color: cfg('colors.controls.disabled.background');

          &:hover,
          &:focus {
            border-left-color: cfg('colors.controls.disabled.background');
          }
        }
      }
    }
  }
}
