@import './mixins';

$color-none: #cccccc;
$colors: (
  #ca1111,
  #edad2a,
  #fbdd56,
  #bdcf48,
  #329632
);

@mixin score($level) {
  $color: nth($colors, $level + 1);

  .Content {
    span {
      @for $i from 0 through $level {
        &:nth-child(#{$i + 1}) {
          background-color: $color;
        }  
      }
    }
  }

  .Description {
    color: $color;
  }
}

@mixin Strength {
  flex: 1 0 100%;
  align-self: flex-start;
  padding: vr(4) 0;

  .Content {
    display: flex;

    span {
      @include border;

      display: block;
      box-sizing: border-box;
      height: vr(6);
      flex-grow: 1;
      margin: vr(2) vr(4) 0;
      background-color: $color-none;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .Description {
    @include text(12, 24, m);

    color: $color-none;
  }
}

.Strength {
  @include Strength;

  @for $i from 0 through 4 {
    &__#{$i} {
      @include score($i);
    }
  }
}
