@import './mixins';

@mixin Summary {
  box-sizing: border-box;
  margin: 0 auto;
  width: vr(600);
  max-width: 100%;
  padding: vr(24) vr(8);
  text-align: center;

  .Icon {
    @include text(64, 80, l, $align: center);

    margin: 0 auto;
    width: vr(80);
    height: vr(80);
  }

  .Title {
    @include text(18, 24, m, $align: center);

    box-sizing: border-box;
    width: 100%;
    padding: vr(8);
  }

  .Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;

    .Text {
      flex: 0 0 100%;
    }

    .Button {
      margin-top: vr(16);

      & > button {
        min-width: vr(160);
      }
    }
  }
}

.Summary {
  @include Summary;
  @include mod-results('.Icon');
  @include mod-results('.Title');

  &__VerticalCenter {
    align-self: center;
  }
}
