@import './mixins';

$divider: 60;

@mixin row {
  display: flex;

  .Cell {
    flex: 1 0 0;

    @for $i from 1 through $divider {
      &__Size_#{$i} {
        flex: 0 0 percentage($i / $divider);
      }
    }

    &__Center {
      text-align: center;
    }

    &__Justify {
      text-align: justify;
    }

    &__Left {
      text-align: left;
    }

    &__Right {
      text-align: right;
    }
  }
}

@mixin row-header {
  padding: 0;

  .Cell {
    @include text-weight(m);

    padding: 0 vr(8);
    font-size: vr(12);
    line-height: vr(24);

    &:nth-child(even) {
      background-color: #d4d4d4;
    }

    &:nth-child(odd) {
      background-color: #dadada;
    }
  }

  .Actions {
    &:nth-child(even) {
      background-color: #d4d4d4;
    }

    &:nth-child(odd) {
      background-color: #dadada;
    }
  }
}

@mixin Table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

@mixin Header {
  padding: 0;

  .Content {
    @include row;
    @include row-header;
  }
}

@mixin Footer {
  padding: 0;

  .Content {
    @include row;
    @include row-header;
  }
}

@mixin Body {
  position: relative;
}

@mixin Group {
  padding: 0;

  .TitleRow {
    padding: 0;

    .Title {
      @include text(12, 24, m);

      padding: 0 vr(8);
      background-color: #eaeaea;
    }
  }
}

@mixin Details {
  @include text-weight(xs);

  padding: 0;
  background-color: #f2f2f2;

  .Content {
    border-bottom: $border-width solid #dadada;
    padding: vr(8) vr(8) vr(7);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%);
    line-height: vr(32);
  }
}

@mixin Row {
  @include row;

  position: relative;

  &:not(:last-child) {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      border-bottom: $border-width solid #eaeaea;
      width: 100%;
    }
  }
}

@mixin Cell {
  @include text-weight(xs);

  padding: vr(12) vr(8);
  font-size: vr(14);
  line-height: vr(32);

  &:nth-child(even) {
    background-color: #fafafa;
  }

  &:nth-child(odd) {
    background-color: #ffffff;
  }

  .Button {
    padding-top: 0;
    padding-bottom: 0;

    & + .Button {
      padding-left: vr(8);
    }
  }

  .Checkbox {
    padding: vr(8) 0;
  }

  .Input {
    padding: 0;
    width: 100%;
  }

  .Option {
    background-color: transparent;
  }

  .Select {
    padding: 0;
  }

  .Toggle {
    padding: vr(4) 0;
  }
}

.Table {
  @include Table;

  &__Center {
    .Caption {
      text-align: center;
    }
  }

  &__Justify {
    .Caption {
      text-align: justify;
    }
  }

  &__Left {
    .Caption {
      text-align: left;
    }
  }

  &__Right {
    .Caption {
      text-align: right;
    }
  }
}

@mixin Actions {
  flex: 0 0 40px;
  text-align: center;

  &:nth-child(even) {
    background-color: #fafafa;
  }

  &:nth-child(odd) {
    background-color: #ffffff;
  }
}

.Header {
  @include Header;
}

.Footer {
  @include Footer;
}

.Body {
  @include Body;
}

.Group {
  @include Group;

  &__Collapsible {
    .TitleRow {
      cursor: pointer;
    }
  }

  &__Collapsed {
    tr {
      &:not(:first-child) {
        height: 0;
        overflow: hidden;
      }
    }
  }

  &__Center {
    .TitleRow {
      .Title {
        text-align: center;
      }
    }
  }

  &__Justify {
    .TitleRow {
      .Title {
        text-align: justify;
      }
    }
  }

  &__Left {
    .TitleRow {
      .Title {
        text-align: left;
      }
    }
  }

  &__Right {
    .TitleRow {
      .Title {
        text-align: right;
      }
    }
  }
}

.Details {
  @include Details;
}

.Row {
  @include Row;
}

.Cell {
  @include Cell;

  &__WithButton,
  &__WithInput,
  &__WithOption,
  &__WithSelect {
    padding-top: vr(8);
    padding-bottom: vr(8);
  }
}

.Actions {
  @include Actions;
}
