@import './mixins';

$indicator-border-width: vr(4);

@mixin focus-hover-state {
  &:focus {
    border-color: #dadada;
  }

  &:hover {
    border-color: #dadada;
  }
}

@mixin Tab {
  @include text(14, 32, xs);

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: vr(2) vr(12) vr(2);
  line-height: vr(24);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  .Content {
    & + .Icon {
      padding-left: vr(8);
    }
  }

  .Icon {
    & + .Content {
      padding-left: vr(8);
    }
  }
}

@mixin Tabs {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  overflow-x: overlay;
}

.Tab {
  @include Tab;

  &__Active {
    @include text-weight(m);
  }

  &__Disabled {
    color: #aaaaaa;
    cursor: inherit;

    &:focus,
    &:hover {
      border-color: transparent;
    }
  }
}

.Tabs {
  @include Tabs;

  &__Border {
    .Tab {
      border-right: $border;
      border-left: $border;
    }
  }

  &__Bottom {
    padding: 0 vr(8) vr(16);

    .Tab {
      @include focus-hover-state;

      border-top: $indicator-border-width solid transparent;
      border-radius: $border-radius $border-radius 0 0;

      &__Active {
        border-top-color: $color-primary;

        &:focus {
          border-top-color: $color-primary-focus;
        }

        &:hover {
          border-top-color: $color-primary-hover;
        }
      }
    }

    &.Tabs__Border {
      .Tab {
        border-bottom: $border;
        padding: vr(2) vr(16) vr(1);
      }
    }
  }

  &__Top {
    padding: vr(16) vr(8) 0;

    .Tab {
      @include focus-hover-state;

      border-bottom: $indicator-border-width solid transparent;
      border-radius: 0 0 $border-radius $border-radius;

      &__Active {
        border-bottom-color: $color-primary;

        &:focus {
          border-bottom-color: $color-primary-focus;
        }

        &:hover {
          border-bottom-color: $color-primary-hover;
        }
      }
    }

    &__VerticalCenter {
      padding-top: vr(4);
      height: 100%;

      &.Tabs__Bottom {
        padding-top: 0;
        padding-bottom: vr(4);
      }
    }

    &.Tabs__Border {
      .Tab {
        border-top: $border;
        padding: vr(1) vr(16) vr(2);
      }
    }
  }

  &__Center {
    justify-content: center;

    .Tab {
      margin-right: vr(4);
      margin-left: vr(4);
    }
  }

  &__Justify {
    justify-content: space-around;
  }

  &__Left {
    justify-content: flex-start;

    .Tab {
      margin-right: vr(8);
    }
  }

  &__Right {
    justify-content: flex-end;

    .Tab {
      margin-left: vr(8);
    }
  }
}
