@import './mixins';

@mixin Text {
  position: relative;
}

@mixin Helper {
  position: relative;
  color: cfg('text.colors.helper');
}

@mixin Primary {
  position: relative;
}

@mixin Secondary {
  position: relative;
}

@mixin Subtitle {
  position: relative;
  padding-bottom: vr(8);
  color: cfg('text.colors.helper');
}

.Text {
  @include Text;
}

.Helper {
  @include Helper;
}

.Primary {
  @include Primary;
}

.Secondary {
  @include Secondary;
}

.Subtitle {
  @include Subtitle;
}
