@import './mixins';

$side-padding: vr(8);
$max-row-capacity: 6;
$vertical-icon-only-margin: rows(1);
$vertical-icon-margin: 0;
$subtitle-shift: vr(-6);

@mixin center-align {
  .Content {
    flex-wrap: wrap;
    width: 100%;

    .Icon {
      margin-top: 0;
      margin-bottom: vr(8);

      &:only-child {
        margin-top: $vertical-icon-only-margin;
        margin-bottom: $vertical-icon-only-margin;
      }

      & + .Button {
        margin-top: 0;
      }
    }

    .Text {
      width: 100%;
      text-align: center;
    }

    .Button {
      justify-self: center;
      margin-top: vr(8);
    }
  }
}

@mixin side-align($side) {
  .Content {
    flex-grow: 1;
    align-items: center;
    width: 0;

    .Icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: $side-padding;

      &:only-child {
        margin-top: $vertical-icon-only-margin;
        margin-bottom: $vertical-icon-only-margin;
      }
    }

    .Text {
      flex-grow: 1;
      flex-basis: 100%;
      width: 0;
      text-align: $side;
    }

    .Button {
      margin-#{$side}: vr(8);
    }
  }
}

@mixin Tile {
  position: relative;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: vr(8);
  outline: none;

  .Content {
    display: flex;

    .Text {
      @include text(15, 24, s);

      vertical-align: top;
      flex-grow: 1;
      box-sizing: border-box;
      padding: 0 $side-padding;
    }
  }

  &__Border {
    border: $border;

    & + .Tile__Border {
      border-top: 0;
    }
  }

  &__Disabled {
    @include disabled;
  }

  &__Center {
    @include center-align;

    .Content {
      justify-content: center;
    }
  }

  &__Justify {
    @include center-align;

    .Content {
      justify-content: space-around;
    }
  }

  &__Left {
    @include side-align(left);

    .Content {
      .Button {
        margin-right: vr(8);
      }
    }
  }

  &__Right {
    @include side-align(right);

    .Content {
      .Icon {
        order: 1;

        &:only-child {
          margin-left: auto;
        }

        & + .Button {
          margin-left: auto;
        }
      }

      .Button {
        margin-left: vr(8);
      }
    }
  }
}

@mixin Set {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;

  @for $i from 1 through $max-row-capacity {
    $width: percentage(1 / $i);

    &__Capacity_#{$i} {
      .Tile {
        flex-basis: $width;

        @for $j from 1 through $i {
          &__Border {
            &:nth-child(#{$j}) {
              border-top: $border;
            }
          }
        }

        @if $i > 1 {
          @for $j from 0 through $i - 2 {
            @for $k from 0 through $i - 1 {
              &__Border {
                &:nth-child(#{$i}n - #{$j}) {
                  &:not(:nth-last-child(#{$i}n - #{$k})) {
                    border-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__Center {
    justify-content: center;
  }

  &__Justify {
    justify-content: space-between;

    .Tile {
      flex-grow: 1;
    }
  }

  &__Left {
    justify-content: flex-start;
  }

  &__Right {
    justify-content: flex-end;
  }
}

.Tile {
  @include Tile;
}

.Set {
  @include Set;
}
