@import './mixins';

$toast-margin: cfg('components.toast.margin');

@mixin Toast {
  @include z(Toast);
  @include shadow(tooltip, rgba(40, 40, 40, 0.4));
  @include text(14, 20, xs, $align: left);

  position: fixed;
  box-sizing: border-box;
  margin: vr(cfg('components.toast.margin'));
  border-radius: $border-radius;
  width: vr(cfg('components.toast.width'));
  padding: vr(8);

  .Close {
    @include size(16);

    position: absolute;
    top: vr(2);
    right: vr(2);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include text(14, 20, l);

    margin-top: 0;
    margin-bottom: vr(4);

    &:first-child {
      margin-right: vr(24);
    }
  }

  h5 {
    font-style: italic;
  }
}

.Toast {
  @include Toast;
}

:global(.__Playground) {
  .Toast {
    position: absolute;
  }
}
