@import './mixins';

$size: 24;

@mixin with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  :not(.Toggle__Disabled) {
    .Switch {
      border-color: $color;
    }
  }
}

@mixin Toggle {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0;
  padding: vr(12) 0;

  .Control {
    @include visually-hidden;

    &:focus {
      & + .Switch {
        @include focused(false);

        .Button {
          @include focused(false);
        }
      }
    }
  }

  .Switch {
    @include inline-block;

    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    border: $border;
    border-radius: vr($size / 2);
    width: vr($size * 2);
    height: vr($size);
    background-color: $color-background-accent;
    overflow: hidden;
    cursor: pointer;

    .IconOff {
      position: absolute;
      margin: 0;
      color: $color-font-semi;
    }

    .IconOn {
      position: absolute;
      margin: 0;
      color: $color-font-inverted;
    }

    .Button {
      @include focusable;

      position: absolute;
      top: vr(-1);
      box-sizing: border-box;
      border: $border;
      border-radius: vr($size / 2);
      width: vr($size);
      height: vr($size);
      background-color: $color-background;
    }
  }

  .Message {
    flex-shrink: 0;
  }

  .Required {
    top: vr(4);
    left: vr($size * 2);
  }
}

.Toggle {
  @include Toggle;

  &__Disabled {
    .Switch {
      @include disabled(true);
    }
  }

  &__Error {
    @include with-message(error);
  }

  &__Focus {
    .Switch {
      @include focused(false);

      .Button {
        @include focused(false);
      }
    }
  }

  &__Hint {
    @include with-message(hint);
  }

  &__Off {
    .Switch {
      .Button {
        left: vr(-1);
      }

      .IconOff {
        right: vr(2);
      }

      .IconOn {
        left: vr(2 - $size);
      }
    }
  }

  &__On {
    .Switch {
      background-color: cfg('colors.values.on');

      .Button {
        left: 50%;
      }

      .IconOff {
        right: vr(2 - $size);
      }

      .IconOn {
        left: vr(2);
      }
    }

    &.Toggle__Disabled {
      .Switch {
        background-color: cfg('colors.controls.disabledAccent.background');
      }
    }
  }

  &__Pull {
    flex: 0 0 vr(320);
    justify-content: flex-end;
    padding-right: vr(8);

    .Message {
      text-align: right;
    }

    .Required {
      top: vr(6);
      left: vr(312);
    }
  }

  &__Small {
    transform: scale(percentage(40/48));
  }

  &__Warning {
    @include with-message(warning);
  }
}
