@import './mixins';

@mixin ToggleView {
  .Message {
    @include text(12, 24, s);

    position: relative;
    cursor: pointer;
  }

  .Content {
    position: relative;
    min-height: vr(24);
    line-height: vr(24);
  }
}

.ToggleView {
  @include ToggleView;
}
