@import './mixins';

@mixin tooltip-kind($kind) {
  $bg: cfg('colors.kinds.' + $kind + '.normal.background');
  $font: cfg('colors.kinds.' + $kind + '.normal.font');

  @include text(14, 20, xs, $align: left, $color: $font);

  &:active,
  &:visited {
    @include text(14, 20, xs, $align: left);
  }

  .Tip {
    .TipFill {
      fill: $bg;
    }
  }
}

@mixin Tooltip {
  @include z(Tooltip);
  @include shadow(tooltip, rgba(40, 40, 40, 0.4));
  @include text(14, 20, xs, $align: left);

  position: absolute;
  display: none;
  box-sizing: border-box;
  border-radius: $border-radius;
  width: vr(cfg('components.tooltip.width'));
  min-width: unset;
  max-width: unset;
  height: auto;
  min-height: unset;
  max-height: unset;
  padding: vr(8);

  .Tip {
    position: absolute;
  }

  .Close {
    @include size(16);

    position: absolute;
    top: vr(2);
    right: vr(2);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include text(14, 20, l);

    margin-top: 0;
    margin-bottom: vr(4);

    &:first-child {
      margin-right: vr(24);
    }
  }

  h5 {
    font-style: italic;
  }
}

.Tooltip {
  @include Tooltip;

  &__Open {
    display: block;
  }
}
