@import './mixins';

@mixin Item {
  @include text(12, 24, xs);

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;

  div {
    margin-top: 0;
  }
}

@mixin Tracker {
  position: relative;
  width: 100%;
}

.Item {
  @include Item;

  &__Emphasized {
    @include text-weight(m);

    margin-top: vr(8);
    border-top: $border-width dotted #cacaca;

    &:last-child {
      margin-bottom: vr(8);
      border-bottom: $border-width dotted #cacaca;
    }

    & + & {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    }

    & + .Item {
      border-top: $border-width dotted #cacaca;
      padding-top: vr(8);
    }
  }
}

.Tracker {
  @include Tracker;

  &__Center {
    .Item {
      justify-content: center;
      width: auto;
    }
  }

  &__Justify,
  &__Left {
    .Item {
      width: 100%;
      text-align: left;
    }
  }

  &__Right {
    .Item {
      flex-direction: row-reverse;
      width: 100%;
      text-align: right;
    }
  }
}
