@import './mixins';

$icon-size: vr(24);

@mixin Item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  line-height: $icon-size;

  .Arrow {
    flex-grow: 0 0 $icon-size;
    width: $icon-size;
    height: $icon-size;
    text-align: center;
  }

  .Title {
    @include text(14, 24, xs);

    flex-grow: 1;
  }

  .Subitems {
    flex-basis: 100%;
    padding-left: vr(16);
  }
}

@mixin Tree {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Item {
  @include Item;

  &__Openable {
    .Title {
      cursor: pointer;
    }
  }
}

.Tree {
  @include Tree;
}
