@import './mixins';

@mixin wrapper-with-message($kind) {
  $color: cfg('colors.messages.' + $kind);

  .Content,
  .Val {
    color: $color;
  }
}

@mixin BaseValue {
  @include text(16, 32, s);

  position: relative;
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0;
  max-width: 100%;
  padding: vr(8) 0;

  .Content {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0 vr(4);
  }

  .Required {
    top: vr(4);
    left: vr(-2);
  }

  .Message {
    padding: 0 vr(4);
  }
}

@mixin Address {
  .Content {
    font-style: normal;

    .AddressLine {
      display: block;
    }
  }
}

@mixin Color {
  .Content {
    display: flex;
    max-width: 100%;

    .Sample {
      @include border;
      @include size(24);
      @include text-weight(l);

      position: relative;
      top: vr(2);
      flex-shrink: 0;
      box-sizing: border-box;
      margin-right: vr(8);
      border-radius: 50%;
      font-size: vr(10);
      color: $color-font-inverted;
      line-height: vr(20);
      text-align: center;
    }

    .Val {
      position: relative;
      top: vr(-1);
      flex: 1 0 0;
    }
  }

  .Required {
    top: vr(4);
    left: vr(24);
  }

  .Message {
    padding: 0 vr(4) 0 vr(36);
  }
}

@mixin Value {
  position: relative;
}

.BaseValue {
  @include BaseValue;

  &.Value {
    &.BaseValue__Center {
      justify-content: center;

      .Content {
        text-align: center;
      }

      .Required {
        top: vr(4);
        left: 50%;
        transform: translateX(-50%);
      }

      .Message {
        text-align: center;
      }
    }

    &.BaseValue__Error {
      @include wrapper-with-message(error);
    }

    &.BaseValue__Hint {
      @include wrapper-with-message(hint);
    }

    &.BaseValue__Justify {
      .Content {
        text-align: justify;
      }
    }

    &.BaseValue__Oneline {
      .Content {
        @include text-overflow;
      }
    }

    &.BaseValue__Right {
      .Content {
        margin-left: auto;
        text-align: right;
      }

      .Required {
        top: vr(4);
        right: vr(-4);
        left: auto;
      }

      .Message {
        text-align: right;
      }
    }

    &.BaseValue__Summary {
      flex-basis: 100%;
      padding: 0;

      .Content {
        padding: 0;
      }
    }

    &.BaseValue__Warning {
      @include wrapper-with-message(warning);
    }
  }

  &.Color,
  &.Kind {
    &.BaseValue__Center {
      justify-content: center;

      .Content {
        .Val {
          flex: 0 0 auto;
          max-width: calc(100% - 32px);
        }
      }

      .Required {
        top: vr(4);
        left: 50%;
        transform: translateX(-50%);
      }

      .Message {
        padding: 0 vr(4);
        text-align: center;
      }
    }

    &.BaseValue__Oneline {
      .Content {
        .Val {
          @include text-overflow;
        }
      }
    }

    &.BaseValue__Right {
      justify-content: flex-end;

      .Content {
        .Sample {
          order: 2;
          margin-right: 0;
          margin-left: vr(8);
        }

        .Val {
          order: 1;
          text-align: right;
        }
      }

      .Required {
        top: vr(4);
        right: vr(26);
        left: auto;
      }

      .Message {
        padding: 0 vr(36) 0 vr(4);
        text-align: right;
      }
    }
  }
}

.Address {
  @include Address;
}

.Color {
  @include Color;
}

.Kind {
  @include Color;
}

.Value {
  @include Value;
}
