@import './mixins';

@mixin View {
  @include text(14, 24, xs);
  @include z(Common);

  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: vr(1);
  padding: 0;
}

.View {
  @include View;

  &__FullHeight {
    min-height: 100%;
  }

  &__NoOverflow {
    height: 100%;
    overflow: hidden;
  }
}
